In [1]:
import pandas as pd
import numpy as np

In [2]:
wc_2007 = pd.read_csv("C:/Users/HP/Desktop/t20/T20 World Cups/T20 World Cup 2007 matches.csv")
wc_2009 = pd.read_csv("C:/Users/HP/Desktop/t20/T20 World Cups/T20 World Cup 2009 matches.csv")
wc_2010 = pd.read_csv("C:/Users/HP/Desktop/t20/T20 World Cups/T20 World Cup 2010 matches.csv")
wc_2012 = pd.read_csv("C:/Users/HP/Desktop/t20/T20 World Cups/T20 World Cup 2012 matches.csv")
wc_2014 = pd.read_csv("C:/Users/HP/Desktop/t20/T20 World Cups/T20 World Cup 2014 matches.csv")
wc_2016 = pd.read_csv("C:/Users/HP/Desktop/t20/T20 World Cups/T20 World Cup 2016 matches.csv")
wc_2021 = pd.read_csv("C:/Users/HP/Desktop/t20/T20 World Cups/T20 World Cup 2021 matches.csv")
wc_2022 = pd.read_csv("ICC Mens T20 World Cup 2022.csv")

wc_2007

In [3]:
wc_2007.head()

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful

In [4]:
wc_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Match No                27 non-null     int64
 1   Date                    27 non-null     object
 2   Group/Semi Final/Final  27 non-null     object
 3   Match Between           27 non-null     object
 4   Venue                   27 non-null     object
 5   Winning Team Score      26 non-null     object
 6   Losing Team Score       26 non-null     object
 7   Winner Team             26 non-null     object
 8   Result                  27 non-null     object
 9   Player Of The Match     26 non-null     object
dtypes: int64(1), object(9)
memory usage: 2.2+ KB

In [5]:
wc_2007

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful
5,6,2007-09-13,Group B,England vs Zimbabwe,"Newlands, Cape Town",188/9(20 overs),138/7(20 overs),England,England won by 50 runs,Kevin Pietersen
6,7,2007-09-13,Group D,India vs Scotland,"Kingsmead, Durban",NaN,NaN,NaN,No result (abandoned with a toss),NaN
7,8,2007-09-14,Group C,Kenya vs Sri Lanka,"The Wanderers Stadium, Johannesburg",260/6(20 overs),88(19.3 overs),Sri Lanka,Sri Lanka won by 172 runs,Sanath Jayasuriya
8,9,2007-09-14,Group B,Australia vs England,"Newlands, Cape Town",136/2(14.5 overs),135(20 overs),Australia,Australia won by 8 wickets,Nathan Bracken
9,10,2007-09-14,Group D,India vs Pakistan,"Kingsmead, Durban",141/9(20 overs),141/7(20 overs),India,Match tied (India won the bowl-out),Mohammad Asif
10,11,2007-09-15,Group C,New Zealand vs Sri Lanka,"The Wanderers Stadium, Johannesburg",168/3(18.5 overs),164/7(20 overs),Sri Lanka,Sri Lanka won by 7 wickets,Sanath Jayasuriya
11,12,2007-09-15,Group A,South Africa vs Bangladesh,"Newlands, Cape Town",146/3(18.5 overs),144(19.3 overs),South Africa,South Africa won by 7 wickets,Morne Morkel
12,13,2007-09-16,Group E,India vs New Zealand,"The Wanderers Stadium, Johannesburg",190(20 overs),180/9(20 overs),New Zealand,New Zealand won by 10 runs,Daniel Vettori
13,14,2007-09-16,Group F,Australia vs Bangladesh,"Newlands, Cape Town",124/1(13.5 overs),123/8(20 overs),Australia,Australia won by 9 wickets,Brett Lee
14,15,2007-09-16,Group E,South Africa vs England,"Newlands, Cape Town",154/8(20 overs),135/7(20 overs),South Africa,South Africa won by 19 runs,Albie Morkel
15,16,2007-09-17,Group F,Pakistan vs Sri Lanka,"The Wanderers Stadium, Johannesburg",189/6(20 overs),156/9(20 overs),Pakistan,Pakistan won by 33 runs,Younis Khan
16,17,2007-09-18,Group E,England vs New Zealand,"Kingsmead, Durban",164/9(20 overs),159/8(20 overs),New Zealand,New Zealand won by 5 runs,Craig McMillan
17,18,2007-09-18,Group F,Australia vs Pakistan,"The Wanderers Stadium, Johannesburg",165/4(19.1 overs),164/7(20 overs),Pakistan,Pakistan won by 6 wickets,Misbah-ul-Haq
18,19,2007-09-18,Group F,Bangladesh vs Sri Lanka,"The Wanderers Stadium, Johannesburg",147/5(20 overs),83(15.5 overs),Sri Lanka,Sri Lanka won by 64 runs,Dilhara Fernando
19,20,2007-09-19,Group E,South Africa vs New Zealand,"Kingsmead, Durban",158/4(19.1 overs),153/8(20 overs),South Africa,South Africa won by 6 wickets,Justin Kemp
20,21,2007-09-19,Group E,England vs India,"Kingsmead, Durban",218/4(20 overs),200/6(20 overs),India,India won by 18 runs,Yuvraj Singh
21,22,2007-09-20,Group F,Australia vs Sri Lanka,"Newlands, Cape Town",102/0(10.2 overs),101(19.3 overs),Australia,Australia won by 10 wickets,Stuart Clark
22,23,2007-09-20,Group F,Bangladesh vs Pakistan,"Newlands, Cape Town",141/6(19 overs),140(19.4 overs),Pakistan,Pakistan won by 4 wickets,Junaid Siddique
23,24,2007-09-20,Group E,South Africa vs India,"Kingsmead, Durban",153/5(20 overs),116/9(20 overs),India,India won by 37 runs,Rohit Sharma
24,25,2007-09-22,1st Semi Final,New Zealand vs Pakistan,"Newlands, Cape Town",147/4(18.5 overs),143/8(20 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul
25,26,2007-09-22,2nd Semi Final,Australia vs India,"Kingsmead, Durban",188/5(20 overs),173/7(20 overs),India,India won by 15 runs,Yuvraj Singh
26,27,2007-09-24,Final,India vs Pakistan,"The Wanderers Stadium, Johannesburg",157/5(20 overs),152(19.3 overs),India,India won by 5 runs,Irfan Pathan

Filling missing value with 'NO' as some match are not played

In [6]:
wc_2007.fillna('NO',inplace=True)

In [7]:
wc_2007.isna().sum()

Match No                  0
Date                      0
Group/Semi Final/Final    0
Match Between             0
Venue                     0
Winning Team Score        0
Losing Team Score         0
Winner Team               0
Result                    0
Player Of The Match       0
dtype: int64

making two more columns 'team1' and 'team2' from 'Match Between' column

In [8]:
wc_2007['Team1'], wc_2007['Team2'] = wc_2007['Match Between'].str.split(' vs ',1).str

C:\Users\HP\AppData\Local\Temp\ipykernel_16648\2774212848.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  wc_2007['Team1'], wc_2007['Team2'] = wc_2007['Match Between'].str.split(' vs ',1).str
C:\Users\HP\AppData\Local\Temp\ipykernel_16648\2774212848.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  wc_2007['Team1'], wc_2007['Team2'] = wc_2007['Match Between'].str.split(' vs ',1).str

In [9]:
wc_2007.head()

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle,South Africa,West Indies
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie,Kenya,New Zealand
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi,Pakistan,Scotland
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor,Australia,Zimbabwe
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful,Bangladesh,West Indies

we have team1 and team2 and winner team it would be easier for us if we have losing team column to

In [10]:
wc_2007['Losing Team'] = np.where(wc_2007['Winner Team']==wc_2007['Team1'], wc_2007['Team2'], wc_2007['Team1'])

In [11]:
wc_2007.loc[(wc_2007['Winner Team'] != wc_2007['Team1']) & (wc_2007['Winner Team'] != wc_2007['Team2']), 'Losing Team'] = 'NO'

In [12]:
wc_2007.head()

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle,South Africa,West Indies,West Indies
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie,Kenya,New Zealand,Kenya
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi,Pakistan,Scotland,Scotland
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor,Australia,Zimbabwe,Australia
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful,Bangladesh,West Indies,West Indies

we dont need Team1 and Team2 as we can use Winner Team and Losing Team, we can drop them but im keeping it, it might be helpfull later or else will drop no issues

our date column is in object type i.e string lets convert it into datetype

In [13]:
wc_2007['Date'] = pd.to_datetime(wc_2007['Date'])

In [14]:
wc_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Match No                27 non-null     int64
 1   Date                    27 non-null     datetime64[ns]
 2   Group/Semi Final/Final  27 non-null     object
 3   Match Between           27 non-null     object
 4   Venue                   27 non-null     object
 5   Winning Team Score      27 non-null     object
 6   Losing Team Score       27 non-null     object
 7   Winner Team             27 non-null     object
 8   Result                  27 non-null     object
 9   Player Of The Match     27 non-null     object
 10  Team1                   27 non-null     object
 11  Team2                   27 non-null     object
 12  Losing Team             27 non-null     object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 2.9+ KB

In [15]:
wc_2007

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle,South Africa,West Indies,West Indies
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie,Kenya,New Zealand,Kenya
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi,Pakistan,Scotland,Scotland
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor,Australia,Zimbabwe,Australia
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful,Bangladesh,West Indies,West Indies
5,6,2007-09-13,Group B,England vs Zimbabwe,"Newlands, Cape Town",188/9(20 overs),138/7(20 overs),England,England won by 50 runs,Kevin Pietersen,England,Zimbabwe,Zimbabwe
6,7,2007-09-13,Group D,India vs Scotland,"Kingsmead, Durban",NO,NO,NO,No result (abandoned with a toss),NO,India,Scotland,NO
7,8,2007-09-14,Group C,Kenya vs Sri Lanka,"The Wanderers Stadium, Johannesburg",260/6(20 overs),88(19.3 overs),Sri Lanka,Sri Lanka won by 172 runs,Sanath Jayasuriya,Kenya,Sri Lanka,Kenya
8,9,2007-09-14,Group B,Australia vs England,"Newlands, Cape Town",136/2(14.5 overs),135(20 overs),Australia,Australia won by 8 wickets,Nathan Bracken,Australia,England,England
9,10,2007-09-14,Group D,India vs Pakistan,"Kingsmead, Durban",141/9(20 overs),141/7(20 overs),India,Match tied (India won the bowl-out),Mohammad Asif,India,Pakistan,Pakistan
10,11,2007-09-15,Group C,New Zealand vs Sri Lanka,"The Wanderers Stadium, Johannesburg",168/3(18.5 overs),164/7(20 overs),Sri Lanka,Sri Lanka won by 7 wickets,Sanath Jayasuriya,New Zealand,Sri Lanka,New Zealand
11,12,2007-09-15,Group A,South Africa vs Bangladesh,"Newlands, Cape Town",146/3(18.5 overs),144(19.3 overs),South Africa,South Africa won by 7 wickets,Morne Morkel,South Africa,Bangladesh,Bangladesh
12,13,2007-09-16,Group E,India vs New Zealand,"The Wanderers Stadium, Johannesburg",190(20 overs),180/9(20 overs),New Zealand,New Zealand won by 10 runs,Daniel Vettori,India,New Zealand,India
13,14,2007-09-16,Group F,Australia vs Bangladesh,"Newlands, Cape Town",124/1(13.5 overs),123/8(20 overs),Australia,Australia won by 9 wickets,Brett Lee,Australia,Bangladesh,Bangladesh
14,15,2007-09-16,Group E,South Africa vs England,"Newlands, Cape Town",154/8(20 overs),135/7(20 overs),South Africa,South Africa won by 19 runs,Albie Morkel,South Africa,England,England
15,16,2007-09-17,Group F,Pakistan vs Sri Lanka,"The Wanderers Stadium, Johannesburg",189/6(20 overs),156/9(20 overs),Pakistan,Pakistan won by 33 runs,Younis Khan,Pakistan,Sri Lanka,Sri Lanka
16,17,2007-09-18,Group E,England vs New Zealand,"Kingsmead, Durban",164/9(20 overs),159/8(20 overs),New Zealand,New Zealand won by 5 runs,Craig McMillan,England,New Zealand,England
17,18,2007-09-18,Group F,Australia vs Pakistan,"The Wanderers Stadium, Johannesburg",165/4(19.1 overs),164/7(20 overs),Pakistan,Pakistan won by 6 wickets,Misbah-ul-Haq,Australia,Pakistan,Australia
18,19,2007-09-18,Group F,Bangladesh vs Sri Lanka,"The Wanderers Stadium, Johannesburg",147/5(20 overs),83(15.5 overs),Sri Lanka,Sri Lanka won by 64 runs,Dilhara Fernando,Bangladesh,Sri Lanka,Bangladesh
19,20,2007-09-19,Group E,South Africa vs New Zealand,"Kingsmead, Durban",158/4(19.1 overs),153/8(20 overs),South Africa,South Africa won by 6 wickets,Justin Kemp,South Africa,New Zealand,New Zealand
20,21,2007-09-19,Group E,England vs India,"Kingsmead, Durban",218/4(20 overs),200/6(20 overs),India,India won by 18 runs,Yuvraj Singh,England,India,England
21,22,2007-09-20,Group F,Australia vs Sri Lanka,"Newlands, Cape Town",102/0(10.2 overs),101(19.3 overs),Australia,Australia won by 10 wickets,Stuart Clark,Australia,Sri Lanka,Sri Lanka
22,23,2007-09-20,Group F,Bangladesh vs Pakistan,"Newlands, Cape Town",141/6(19 overs),140(19.4 overs),Pakistan,Pakistan won by 4 wickets,Junaid Siddique,Bangladesh,Pakistan,Bangladesh
23,24,2007-09-20,Group E,South Africa vs India,"Kingsmead, Durban",153/5(20 overs),116/9(20 overs),India,India won by 37 runs,Rohit Sharma,South Africa,India,South Africa
24,25,2007-09-22,1st Semi Final,New Zealand vs Pakistan,"Newlands, Cape Town",147/4(18.5 overs),143/8(20 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul,New Zealand,Pakistan,New Zealand
25,26,2007-09-22,2nd Semi Final,Australia vs India,"Kingsmead, Durban",188/5(20 overs),173/7(20 overs),India,India won by 15 runs,Yuvraj Singh,Australia,India,Australia
26,27,2007-09-24,Final,India vs Pakistan,"The Wanderers Stadium, Johannesburg",157/5(20 overs),152(19.3 overs),India,India won by 5 runs,Irfan Pathan,India,Pakistan,Pakistan

extracting runs and overs of winning team

In [16]:
wc_2007['Winning Team Runs'] = wc_2007['Winning Team Score'].str.extract(r'(\d+)')
wc_2007['Winning Team Over Played']=wc_2007['Winning Team Score'].str.extract(r'\((\d+(?:\.\d{1,2})?) overs\)')

extracting runs and overs of losing team

In [17]:
wc_2007['Losing Team Runs'] = wc_2007['Losing Team Score'].str.extract(r'(\d+)')
wc_2007['Losing Team Over Played']=wc_2007['Losing Team Score'].str.extract(r'\((\d+(?:\.\d{1,2})?) overs\)')

In [18]:
wc_2007

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle,South Africa,West Indies,West Indies,208,17.4,205,20
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie,Kenya,New Zealand,Kenya,74,7.4,73,16.5
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi,Pakistan,Scotland,Scotland,171,20,120,19.5
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor,Australia,Zimbabwe,Australia,139,19.5,138,20
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful,Bangladesh,West Indies,West Indies,165,18,164,20
5,6,2007-09-13,Group B,England vs Zimbabwe,"Newlands, Cape Town",188/9(20 overs),138/7(20 overs),England,England won by 50 runs,Kevin Pietersen,England,Zimbabwe,Zimbabwe,188,20,138,20
6,7,2007-09-13,Group D,India vs Scotland,"Kingsmead, Durban",NO,NO,NO,No result (abandoned with a toss),NO,India,Scotland,NO,NaN,NaN,NaN,NaN
7,8,2007-09-14,Group C,Kenya vs Sri Lanka,"The Wanderers Stadium, Johannesburg",260/6(20 overs),88(19.3 overs),Sri Lanka,Sri Lanka won by 172 runs,Sanath Jayasuriya,Kenya,Sri Lanka,Kenya,260,20,88,19.3
8,9,2007-09-14,Group B,Australia vs England,"Newlands, Cape Town",136/2(14.5 overs),135(20 overs),Australia,Australia won by 8 wickets,Nathan Bracken,Australia,England,England,136,14.5,135,20
9,10,2007-09-14,Group D,India vs Pakistan,"Kingsmead, Durban",141/9(20 overs),141/7(20 overs),India,Match tied (India won the bowl-out),Mohammad Asif,India,Pakistan,Pakistan,141,20,141,20
10,11,2007-09-15,Group C,New Zealand vs Sri Lanka,"The Wanderers Stadium, Johannesburg",168/3(18.5 overs),164/7(20 overs),Sri Lanka,Sri Lanka won by 7 wickets,Sanath Jayasuriya,New Zealand,Sri Lanka,New Zealand,168,18.5,164,20
11,12,2007-09-15,Group A,South Africa vs Bangladesh,"Newlands, Cape Town",146/3(18.5 overs),144(19.3 overs),South Africa,South Africa won by 7 wickets,Morne Morkel,South Africa,Bangladesh,Bangladesh,146,18.5,144,19.3
12,13,2007-09-16,Group E,India vs New Zealand,"The Wanderers Stadium, Johannesburg",190(20 overs),180/9(20 overs),New Zealand,New Zealand won by 10 runs,Daniel Vettori,India,New Zealand,India,190,20,180,20
13,14,2007-09-16,Group F,Australia vs Bangladesh,"Newlands, Cape Town",124/1(13.5 overs),123/8(20 overs),Australia,Australia won by 9 wickets,Brett Lee,Australia,Bangladesh,Bangladesh,124,13.5,123,20
14,15,2007-09-16,Group E,South Africa vs England,"Newlands, Cape Town",154/8(20 overs),135/7(20 overs),South Africa,South Africa won by 19 runs,Albie Morkel,South Africa,England,England,154,20,135,20
15,16,2007-09-17,Group F,Pakistan vs Sri Lanka,"The Wanderers Stadium, Johannesburg",189/6(20 overs),156/9(20 overs),Pakistan,Pakistan won by 33 runs,Younis Khan,Pakistan,Sri Lanka,Sri Lanka,189,20,156,20
16,17,2007-09-18,Group E,England vs New Zealand,"Kingsmead, Durban",164/9(20 overs),159/8(20 overs),New Zealand,New Zealand won by 5 runs,Craig McMillan,England,New Zealand,England,164,20,159,20
17,18,2007-09-18,Group F,Australia vs Pakistan,"The Wanderers Stadium, Johannesburg",165/4(19.1 overs),164/7(20 overs),Pakistan,Pakistan won by 6 wickets,Misbah-ul-Haq,Australia,Pakistan,Australia,165,19.1,164,20
18,19,2007-09-18,Group F,Bangladesh vs Sri Lanka,"The Wanderers Stadium, Johannesburg",147/5(20 overs),83(15.5 overs),Sri Lanka,Sri Lanka won by 64 runs,Dilhara Fernando,Bangladesh,Sri Lanka,Bangladesh,147,20,83,15.5
19,20,2007-09-19,Group E,South Africa vs New Zealand,"Kingsmead, Durban",158/4(19.1 overs),153/8(20 overs),South Africa,South Africa won by 6 wickets,Justin Kemp,South Africa,New Zealand,New Zealand,158,19.1,153,20
20,21,2007-09-19,Group E,England vs India,"Kingsmead, Durban",218/4(20 overs),200/6(20 overs),India,India won by 18 runs,Yuvraj Singh,England,India,England,218,20,200,20
21,22,2007-09-20,Group F,Australia vs Sri Lanka,"Newlands, Cape Town",102/0(10.2 overs),101(19.3 overs),Australia,Australia won by 10 wickets,Stuart Clark,Australia,Sri Lanka,Sri Lanka,102,10.2,101,19.3
22,23,2007-09-20,Group F,Bangladesh vs Pakistan,"Newlands, Cape Town",141/6(19 overs),140(19.4 overs),Pakistan,Pakistan won by 4 wickets,Junaid Siddique,Bangladesh,Pakistan,Bangladesh,141,19,140,19.4
23,24,2007-09-20,Group E,South Africa vs India,"Kingsmead, Durban",153/5(20 overs),116/9(20 overs),India,India won by 37 runs,Rohit Sharma,South Africa,India,South Africa,153,20,116,20
24,25,2007-09-22,1st Semi Final,New Zealand vs Pakistan,"Newlands, Cape Town",147/4(18.5 overs),143/8(20 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul,New Zealand,Pakistan,New Zealand,147,18.5,143,20
25,26,2007-09-22,2nd Semi Final,Australia vs India,"Kingsmead, Durban",188/5(20 overs),173/7(20 overs),India,India won by 15 runs,Yuvraj Singh,Australia,India,Australia,188,20,173,20
26,27,2007-09-24,Final,India vs Pakistan,"The Wanderers Stadium, Johannesburg",157/5(20 overs),152(19.3 overs),India,India won by 5 runs,Irfan Pathan,India,Pakistan,Pakistan,157,20,152,19.3

In [19]:
wc_2007.fillna(0,inplace=True)

In [20]:
wc_2007

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle,South Africa,West Indies,West Indies,208,17.4,205,20
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie,Kenya,New Zealand,Kenya,74,7.4,73,16.5
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi,Pakistan,Scotland,Scotland,171,20,120,19.5
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor,Australia,Zimbabwe,Australia,139,19.5,138,20
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful,Bangladesh,West Indies,West Indies,165,18,164,20
5,6,2007-09-13,Group B,England vs Zimbabwe,"Newlands, Cape Town",188/9(20 overs),138/7(20 overs),England,England won by 50 runs,Kevin Pietersen,England,Zimbabwe,Zimbabwe,188,20,138,20
6,7,2007-09-13,Group D,India vs Scotland,"Kingsmead, Durban",NO,NO,NO,No result (abandoned with a toss),NO,India,Scotland,NO,0,0,0,0
7,8,2007-09-14,Group C,Kenya vs Sri Lanka,"The Wanderers Stadium, Johannesburg",260/6(20 overs),88(19.3 overs),Sri Lanka,Sri Lanka won by 172 runs,Sanath Jayasuriya,Kenya,Sri Lanka,Kenya,260,20,88,19.3
8,9,2007-09-14,Group B,Australia vs England,"Newlands, Cape Town",136/2(14.5 overs),135(20 overs),Australia,Australia won by 8 wickets,Nathan Bracken,Australia,England,England,136,14.5,135,20
9,10,2007-09-14,Group D,India vs Pakistan,"Kingsmead, Durban",141/9(20 overs),141/7(20 overs),India,Match tied (India won the bowl-out),Mohammad Asif,India,Pakistan,Pakistan,141,20,141,20
10,11,2007-09-15,Group C,New Zealand vs Sri Lanka,"The Wanderers Stadium, Johannesburg",168/3(18.5 overs),164/7(20 overs),Sri Lanka,Sri Lanka won by 7 wickets,Sanath Jayasuriya,New Zealand,Sri Lanka,New Zealand,168,18.5,164,20
11,12,2007-09-15,Group A,South Africa vs Bangladesh,"Newlands, Cape Town",146/3(18.5 overs),144(19.3 overs),South Africa,South Africa won by 7 wickets,Morne Morkel,South Africa,Bangladesh,Bangladesh,146,18.5,144,19.3
12,13,2007-09-16,Group E,India vs New Zealand,"The Wanderers Stadium, Johannesburg",190(20 overs),180/9(20 overs),New Zealand,New Zealand won by 10 runs,Daniel Vettori,India,New Zealand,India,190,20,180,20
13,14,2007-09-16,Group F,Australia vs Bangladesh,"Newlands, Cape Town",124/1(13.5 overs),123/8(20 overs),Australia,Australia won by 9 wickets,Brett Lee,Australia,Bangladesh,Bangladesh,124,13.5,123,20
14,15,2007-09-16,Group E,South Africa vs England,"Newlands, Cape Town",154/8(20 overs),135/7(20 overs),South Africa,South Africa won by 19 runs,Albie Morkel,South Africa,England,England,154,20,135,20
15,16,2007-09-17,Group F,Pakistan vs Sri Lanka,"The Wanderers Stadium, Johannesburg",189/6(20 overs),156/9(20 overs),Pakistan,Pakistan won by 33 runs,Younis Khan,Pakistan,Sri Lanka,Sri Lanka,189,20,156,20
16,17,2007-09-18,Group E,England vs New Zealand,"Kingsmead, Durban",164/9(20 overs),159/8(20 overs),New Zealand,New Zealand won by 5 runs,Craig McMillan,England,New Zealand,England,164,20,159,20
17,18,2007-09-18,Group F,Australia vs Pakistan,"The Wanderers Stadium, Johannesburg",165/4(19.1 overs),164/7(20 overs),Pakistan,Pakistan won by 6 wickets,Misbah-ul-Haq,Australia,Pakistan,Australia,165,19.1,164,20
18,19,2007-09-18,Group F,Bangladesh vs Sri Lanka,"The Wanderers Stadium, Johannesburg",147/5(20 overs),83(15.5 overs),Sri Lanka,Sri Lanka won by 64 runs,Dilhara Fernando,Bangladesh,Sri Lanka,Bangladesh,147,20,83,15.5
19,20,2007-09-19,Group E,South Africa vs New Zealand,"Kingsmead, Durban",158/4(19.1 overs),153/8(20 overs),South Africa,South Africa won by 6 wickets,Justin Kemp,South Africa,New Zealand,New Zealand,158,19.1,153,20
20,21,2007-09-19,Group E,England vs India,"Kingsmead, Durban",218/4(20 overs),200/6(20 overs),India,India won by 18 runs,Yuvraj Singh,England,India,England,218,20,200,20
21,22,2007-09-20,Group F,Australia vs Sri Lanka,"Newlands, Cape Town",102/0(10.2 overs),101(19.3 overs),Australia,Australia won by 10 wickets,Stuart Clark,Australia,Sri Lanka,Sri Lanka,102,10.2,101,19.3
22,23,2007-09-20,Group F,Bangladesh vs Pakistan,"Newlands, Cape Town",141/6(19 overs),140(19.4 overs),Pakistan,Pakistan won by 4 wickets,Junaid Siddique,Bangladesh,Pakistan,Bangladesh,141,19,140,19.4
23,24,2007-09-20,Group E,South Africa vs India,"Kingsmead, Durban",153/5(20 overs),116/9(20 overs),India,India won by 37 runs,Rohit Sharma,South Africa,India,South Africa,153,20,116,20
24,25,2007-09-22,1st Semi Final,New Zealand vs Pakistan,"Newlands, Cape Town",147/4(18.5 overs),143/8(20 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul,New Zealand,Pakistan,New Zealand,147,18.5,143,20
25,26,2007-09-22,2nd Semi Final,Australia vs India,"Kingsmead, Durban",188/5(20 overs),173/7(20 overs),India,India won by 15 runs,Yuvraj Singh,Australia,India,Australia,188,20,173,20
26,27,2007-09-24,Final,India vs Pakistan,"The Wanderers Stadium, Johannesburg",157/5(20 overs),152(19.3 overs),India,India won by 5 runs,Irfan Pathan,India,Pakistan,Pakistan,157,20,152,19.3

In [21]:
wc_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Match No                  27 non-null     int64
 1   Date                      27 non-null     datetime64[ns]
 2   Group/Semi Final/Final    27 non-null     object
 3   Match Between             27 non-null     object
 4   Venue                     27 non-null     object
 5   Winning Team Score        27 non-null     object
 6   Losing Team Score         27 non-null     object
 7   Winner Team               27 non-null     object
 8   Result                    27 non-null     object
 9   Player Of The Match       27 non-null     object
 10  Team1                     27 non-null     object
 11  Team2                     27 non-null     object
 12  Losing Team               27 non-null     object
 13  Winning Team Runs         27 non-null     object
 14  Winning Team Over Played  27 non-null     object
 15  Losing Team Runs          27 non-null     object
 16  Losing Team Over Played   27 non-null     object
dtypes: datetime64[ns](1), int64(1), object(15)
memory usage: 3.7+ KB

In [22]:
wc_2007['Winning Team Runs'] = pd.to_numeric(wc_2007['Winning Team Runs'])
wc_2007['Winning Team Over Played'] = pd.to_numeric(wc_2007['Winning Team Over Played'])
wc_2007['Losing Team Runs'] = pd.to_numeric(wc_2007['Losing Team Runs'])
wc_2007['Losing Team Over Played'] = pd.to_numeric(wc_2007['Losing Team Over Played'])

In [23]:
wc_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Match No                  27 non-null     int64
 1   Date                      27 non-null     datetime64[ns]
 2   Group/Semi Final/Final    27 non-null     object
 3   Match Between             27 non-null     object
 4   Venue                     27 non-null     object
 5   Winning Team Score        27 non-null     object
 6   Losing Team Score         27 non-null     object
 7   Winner Team               27 non-null     object
 8   Result                    27 non-null     object
 9   Player Of The Match       27 non-null     object
 10  Team1                     27 non-null     object
 11  Team2                     27 non-null     object
 12  Losing Team               27 non-null     object
 13  Winning Team Runs         27 non-null     int64
 14  Winning Team Over Played  27 non-null     float64
 15  Losing Team Runs          27 non-null     int64
 16  Losing Team Over Played   27 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(11)
memory usage: 3.7+ KB

In [24]:
wc_2007.groupby('Winner Team')['Winning Team Runs'].sum().reset_index()

    Winner Team  Winning Team Runs
0     Australia                362
1    Bangladesh                165
2       England                188
3         India                857
4            NO                  0
5   New Zealand                428
6      Pakistan                813
7  South Africa                666
8     Sri Lanka                575
9      Zimbabwe                139

In [25]:
wc_2007.groupby('Losing Team')['Losing Team Runs'].sum().reset_index()

     Losing Team  Losing Team Runs
0      Australia               475
1     Bangladesh               490
2        England               629
3          India               180
4          Kenya               161
5             NO                 0
6    New Zealand               460
7       Pakistan               293
8       Scotland               120
9   South Africa               116
10     Sri Lanka               257
11   West Indies               369
12      Zimbabwe               138

In [26]:
wc_2007_matches = wc_2007[(wc_2007['Group/Semi Final/Final'] != '1st Semi Final') & (wc_2007['Group/Semi Final/Final'] != '2nd Semi Final') & (wc_2007['Group/Semi Final/Final'] != 'Final')]

In [27]:
wc_2007_runs_in_loss = wc_2007_matches.groupby('Losing Team')['Losing Team Runs'].sum().reset_index()

In [28]:
wc_2007_runs_overs_in_loss = wc_2007_matches.groupby('Losing Team').agg({'Losing Team Runs': 'sum', 'Losing Team Over Played': 'sum'}).reset_index()

In [29]:
wc_2007_runs_overs_in_wins = wc_2007_matches.groupby('Winner Team').agg({'Winning Team Runs': 'sum', 'Winning Team Over Played': 'sum'}).reset_index()

In [30]:
wc_2007

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle,South Africa,West Indies,West Indies,208,17.4,205,20.0
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie,Kenya,New Zealand,Kenya,74,7.4,73,16.5
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi,Pakistan,Scotland,Scotland,171,20.0,120,19.5
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor,Australia,Zimbabwe,Australia,139,19.5,138,20.0
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful,Bangladesh,West Indies,West Indies,165,18.0,164,20.0
5,6,2007-09-13,Group B,England vs Zimbabwe,"Newlands, Cape Town",188/9(20 overs),138/7(20 overs),England,England won by 50 runs,Kevin Pietersen,England,Zimbabwe,Zimbabwe,188,20.0,138,20.0
6,7,2007-09-13,Group D,India vs Scotland,"Kingsmead, Durban",NO,NO,NO,No result (abandoned with a toss),NO,India,Scotland,NO,0,0.0,0,0.0
7,8,2007-09-14,Group C,Kenya vs Sri Lanka,"The Wanderers Stadium, Johannesburg",260/6(20 overs),88(19.3 overs),Sri Lanka,Sri Lanka won by 172 runs,Sanath Jayasuriya,Kenya,Sri Lanka,Kenya,260,20.0,88,19.3
8,9,2007-09-14,Group B,Australia vs England,"Newlands, Cape Town",136/2(14.5 overs),135(20 overs),Australia,Australia won by 8 wickets,Nathan Bracken,Australia,England,England,136,14.5,135,20.0
9,10,2007-09-14,Group D,India vs Pakistan,"Kingsmead, Durban",141/9(20 overs),141/7(20 overs),India,Match tied (India won the bowl-out),Mohammad Asif,India,Pakistan,Pakistan,141,20.0,141,20.0
10,11,2007-09-15,Group C,New Zealand vs Sri Lanka,"The Wanderers Stadium, Johannesburg",168/3(18.5 overs),164/7(20 overs),Sri Lanka,Sri Lanka won by 7 wickets,Sanath Jayasuriya,New Zealand,Sri Lanka,New Zealand,168,18.5,164,20.0
11,12,2007-09-15,Group A,South Africa vs Bangladesh,"Newlands, Cape Town",146/3(18.5 overs),144(19.3 overs),South Africa,South Africa won by 7 wickets,Morne Morkel,South Africa,Bangladesh,Bangladesh,146,18.5,144,19.3
12,13,2007-09-16,Group E,India vs New Zealand,"The Wanderers Stadium, Johannesburg",190(20 overs),180/9(20 overs),New Zealand,New Zealand won by 10 runs,Daniel Vettori,India,New Zealand,India,190,20.0,180,20.0
13,14,2007-09-16,Group F,Australia vs Bangladesh,"Newlands, Cape Town",124/1(13.5 overs),123/8(20 overs),Australia,Australia won by 9 wickets,Brett Lee,Australia,Bangladesh,Bangladesh,124,13.5,123,20.0
14,15,2007-09-16,Group E,South Africa vs England,"Newlands, Cape Town",154/8(20 overs),135/7(20 overs),South Africa,South Africa won by 19 runs,Albie Morkel,South Africa,England,England,154,20.0,135,20.0
15,16,2007-09-17,Group F,Pakistan vs Sri Lanka,"The Wanderers Stadium, Johannesburg",189/6(20 overs),156/9(20 overs),Pakistan,Pakistan won by 33 runs,Younis Khan,Pakistan,Sri Lanka,Sri Lanka,189,20.0,156,20.0
16,17,2007-09-18,Group E,England vs New Zealand,"Kingsmead, Durban",164/9(20 overs),159/8(20 overs),New Zealand,New Zealand won by 5 runs,Craig McMillan,England,New Zealand,England,164,20.0,159,20.0
17,18,2007-09-18,Group F,Australia vs Pakistan,"The Wanderers Stadium, Johannesburg",165/4(19.1 overs),164/7(20 overs),Pakistan,Pakistan won by 6 wickets,Misbah-ul-Haq,Australia,Pakistan,Australia,165,19.1,164,20.0
18,19,2007-09-18,Group F,Bangladesh vs Sri Lanka,"The Wanderers Stadium, Johannesburg",147/5(20 overs),83(15.5 overs),Sri Lanka,Sri Lanka won by 64 runs,Dilhara Fernando,Bangladesh,Sri Lanka,Bangladesh,147,20.0,83,15.5
19,20,2007-09-19,Group E,South Africa vs New Zealand,"Kingsmead, Durban",158/4(19.1 overs),153/8(20 overs),South Africa,South Africa won by 6 wickets,Justin Kemp,South Africa,New Zealand,New Zealand,158,19.1,153,20.0
20,21,2007-09-19,Group E,England vs India,"Kingsmead, Durban",218/4(20 overs),200/6(20 overs),India,India won by 18 runs,Yuvraj Singh,England,India,England,218,20.0,200,20.0
21,22,2007-09-20,Group F,Australia vs Sri Lanka,"Newlands, Cape Town",102/0(10.2 overs),101(19.3 overs),Australia,Australia won by 10 wickets,Stuart Clark,Australia,Sri Lanka,Sri Lanka,102,10.2,101,19.3
22,23,2007-09-20,Group F,Bangladesh vs Pakistan,"Newlands, Cape Town",141/6(19 overs),140(19.4 overs),Pakistan,Pakistan won by 4 wickets,Junaid Siddique,Bangladesh,Pakistan,Bangladesh,141,19.0,140,19.4
23,24,2007-09-20,Group E,South Africa vs India,"Kingsmead, Durban",153/5(20 overs),116/9(20 overs),India,India won by 37 runs,Rohit Sharma,South Africa,India,South Africa,153,20.0,116,20.0
24,25,2007-09-22,1st Semi Final,New Zealand vs Pakistan,"Newlands, Cape Town",147/4(18.5 overs),143/8(20 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul,New Zealand,Pakistan,New Zealand,147,18.5,143,20.0
25,26,2007-09-22,2nd Semi Final,Australia vs India,"Kingsmead, Durban",188/5(20 overs),173/7(20 overs),India,India won by 15 runs,Yuvraj Singh,Australia,India,Australia,188,20.0,173,20.0
26,27,2007-09-24,Final,India vs Pakistan,"The Wanderers Stadium, Johannesburg",157/5(20 overs),152(19.3 overs),India,India won by 5 runs,Irfan Pathan,India,Pakistan,Pakistan,157,20.0,152,19.3

In [31]:
wc_2007['Winning Team NRR'] = (wc_2007['Winning Team Runs']/ wc_2007['Winning Team Over Played'])- (wc_2007['Losing Team Runs']/ wc_2007['Losing Team Over Played'])

In [32]:
wc_2007['Losing Team NRR'] = (wc_2007['Losing Team Runs']/ wc_2007['Losing Team Over Played'])- (wc_2007['Winning Team Runs']/ wc_2007['Winning Team Over Played'])

In [33]:
wc_2007

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle,South Africa,West Indies,West Indies,208,17.4,205,20.0,1.704023,-1.704023
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie,Kenya,New Zealand,Kenya,74,7.4,73,16.5,5.575758,-5.575758
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi,Pakistan,Scotland,Scotland,171,20.0,120,19.5,2.396154,-2.396154
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor,Australia,Zimbabwe,Australia,139,19.5,138,20.0,0.228205,-0.228205
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful,Bangladesh,West Indies,West Indies,165,18.0,164,20.0,0.966667,-0.966667
5,6,2007-09-13,Group B,England vs Zimbabwe,"Newlands, Cape Town",188/9(20 overs),138/7(20 overs),England,England won by 50 runs,Kevin Pietersen,England,Zimbabwe,Zimbabwe,188,20.0,138,20.0,2.500000,-2.500000
6,7,2007-09-13,Group D,India vs Scotland,"Kingsmead, Durban",NO,NO,NO,No result (abandoned with a toss),NO,India,Scotland,NO,0,0.0,0,0.0,NaN,NaN
7,8,2007-09-14,Group C,Kenya vs Sri Lanka,"The Wanderers Stadium, Johannesburg",260/6(20 overs),88(19.3 overs),Sri Lanka,Sri Lanka won by 172 runs,Sanath Jayasuriya,Kenya,Sri Lanka,Kenya,260,20.0,88,19.3,8.440415,-8.440415
8,9,2007-09-14,Group B,Australia vs England,"Newlands, Cape Town",136/2(14.5 overs),135(20 overs),Australia,Australia won by 8 wickets,Nathan Bracken,Australia,England,England,136,14.5,135,20.0,2.629310,-2.629310
9,10,2007-09-14,Group D,India vs Pakistan,"Kingsmead, Durban",141/9(20 overs),141/7(20 overs),India,Match tied (India won the bowl-out),Mohammad Asif,India,Pakistan,Pakistan,141,20.0,141,20.0,0.000000,0.000000
10,11,2007-09-15,Group C,New Zealand vs Sri Lanka,"The Wanderers Stadium, Johannesburg",168/3(18.5 overs),164/7(20 overs),Sri Lanka,Sri Lanka won by 7 wickets,Sanath Jayasuriya,New Zealand,Sri Lanka,New Zealand,168,18.5,164,20.0,0.881081,-0.881081
11,12,2007-09-15,Group A,South Africa vs Bangladesh,"Newlands, Cape Town",146/3(18.5 overs),144(19.3 overs),South Africa,South Africa won by 7 wickets,Morne Morkel,South Africa,Bangladesh,Bangladesh,146,18.5,144,19.3,0.430752,-0.430752
12,13,2007-09-16,Group E,India vs New Zealand,"The Wanderers Stadium, Johannesburg",190(20 overs),180/9(20 overs),New Zealand,New Zealand won by 10 runs,Daniel Vettori,India,New Zealand,India,190,20.0,180,20.0,0.500000,-0.500000
13,14,2007-09-16,Group F,Australia vs Bangladesh,"Newlands, Cape Town",124/1(13.5 overs),123/8(20 overs),Australia,Australia won by 9 wickets,Brett Lee,Australia,Bangladesh,Bangladesh,124,13.5,123,20.0,3.035185,-3.035185
14,15,2007-09-16,Group E,South Africa vs England,"Newlands, Cape Town",154/8(20 overs),135/7(20 overs),South Africa,South Africa won by 19 runs,Albie Morkel,South Africa,England,England,154,20.0,135,20.0,0.950000,-0.950000
15,16,2007-09-17,Group F,Pakistan vs Sri Lanka,"The Wanderers Stadium, Johannesburg",189/6(20 overs),156/9(20 overs),Pakistan,Pakistan won by 33 runs,Younis Khan,Pakistan,Sri Lanka,Sri Lanka,189,20.0,156,20.0,1.650000,-1.650000
16,17,2007-09-18,Group E,England vs New Zealand,"Kingsmead, Durban",164/9(20 overs),159/8(20 overs),New Zealand,New Zealand won by 5 runs,Craig McMillan,England,New Zealand,England,164,20.0,159,20.0,0.250000,-0.250000
17,18,2007-09-18,Group F,Australia vs Pakistan,"The Wanderers Stadium, Johannesburg",165/4(19.1 overs),164/7(20 overs),Pakistan,Pakistan won by 6 wickets,Misbah-ul-Haq,Australia,Pakistan,Australia,165,19.1,164,20.0,0.438743,-0.438743
18,19,2007-09-18,Group F,Bangladesh vs Sri Lanka,"The Wanderers Stadium, Johannesburg",147/5(20 overs),83(15.5 overs),Sri Lanka,Sri Lanka won by 64 runs,Dilhara Fernando,Bangladesh,Sri Lanka,Bangladesh,147,20.0,83,15.5,1.995161,-1.995161
19,20,2007-09-19,Group E,South Africa vs New Zealand,"Kingsmead, Durban",158/4(19.1 overs),153/8(20 overs),South Africa,South Africa won by 6 wickets,Justin Kemp,South Africa,New Zealand,New Zealand,158,19.1,153,20.0,0.622251,-0.622251
20,21,2007-09-19,Group E,England vs India,"Kingsmead, Durban",218/4(20 overs),200/6(20 overs),India,India won by 18 runs,Yuvraj Singh,England,India,England,218,20.0,200,20.0,0.900000,-0.900000
21,22,2007-09-20,Group F,Australia vs Sri Lanka,"Newlands, Cape Town",102/0(10.2 overs),101(19.3 overs),Australia,Australia won by 10 wickets,Stuart Clark,Australia,Sri Lanka,Sri Lanka,102,10.2,101,19.3,4.766839,-4.766839
22,23,2007-09-20,Group F,Bangladesh vs Pakistan,"Newlands, Cape Town",141/6(19 overs),140(19.4 overs),Pakistan,Pakistan won by 4 wickets,Junaid Siddique,Bangladesh,Pakistan,Bangladesh,141,19.0,140,19.4,0.204558,-0.204558
23,24,2007-09-20,Group E,South Africa vs India,"Kingsmead, Durban",153/5(20 overs),116/9(20 overs),India,India won by 37 runs,Rohit Sharma,South Africa,India,South Africa,153,20.0,116,20.0,1.850000,-1.850000
24,25,2007-09-22,1st Semi Final,New Zealand vs Pakistan,"Newlands, Cape Town",147/4(18.5 overs),143/8(20 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul,New Zealand,Pakistan,New Zealand,147,18.5,143,20.0,0.795946,-0.795946
25,26,2007-09-22,2nd Semi Final,Australia vs India,"Kingsmead, Durban",188/5(20 overs),173/7(20 overs),India,India won by 15 runs,Yuvraj Singh,Australia,India,Australia,188,20.0,173,20.0,0.750000,-0.750000
26,27,2007-09-24,Final,India vs Pakistan,"The Wanderers Stadium, Johannesburg",157/5(20 overs),152(19.3 overs),India,India won by 5 runs,Irfan Pathan,India,Pakistan,Pakistan,157,20.0,152,19.3,-0.025648,0.025648

filling missing value for wininfg and losing team nrr

In [34]:
wc_2007.fillna(0,inplace=True)

In [35]:
winning_nrr = wc_2007.groupby('Winner Team')['Winning Team NRR'].sum().reset_index()
winning_nrr

    Winner Team  Winning Team NRR
0     Australia         10.431335
1    Bangladesh          0.966667
2       England          2.500000
3         India          3.474352
4            NO          0.000000
5   New Zealand          6.325758
6      Pakistan          5.485401
7  South Africa          3.707026
8     Sri Lanka         11.316657
9      Zimbabwe          0.228205

In [36]:
losing_nrr = wc_2007.groupby('Losing Team')['Losing Team NRR'].sum().reset_index()

In [37]:
total_rnn = pd.merge(winning_nrr, losing_nrr, how='left', left_on='Winner Team', right_on='Losing Team')

In [38]:
total_rnn['Net Run Rate'] = total_rnn['Winning Team NRR'] + total_rnn['Losing Team NRR']

In [39]:
total_rnn

    Winner Team  Winning Team NRR   Losing Team  Losing Team NRR  Net Run Rate
0     Australia         10.431335     Australia        -1.416949      9.014386
1    Bangladesh          0.966667    Bangladesh        -5.665656     -4.698990
2       England          2.500000       England        -4.729310     -2.229310
3         India          3.474352         India        -0.500000      2.974352
4            NO          0.000000            NO         0.000000      0.000000
5   New Zealand          6.325758   New Zealand        -2.299278      4.026479
6      Pakistan          5.485401      Pakistan         0.025648      5.511049
7  South Africa          3.707026  South Africa        -1.850000      1.857026
8     Sri Lanka         11.316657     Sri Lanka        -6.416839      4.899818
9      Zimbabwe          0.228205      Zimbabwe        -2.500000     -2.271795

In [40]:
wc_2007['Group/Semi Final/Final'].value_counts()

Group E           6
Group F           6
Group A           3
Group C           3
Group D           3
Group B           3
1st Semi Final    1
2nd Semi Final    1
Final             1
Name: Group/Semi Final/Final, dtype: int64

In [41]:
wc_2007['Winner Team'].value_counts()

Pakistan        5
India           5
South Africa    4
New Zealand     3
Sri Lanka       3
Australia       3
Zimbabwe        1
Bangladesh      1
England         1
NO              1
Name: Winner Team, dtype: int64

In [42]:
wc_2007_groupA_tabel = wc_2007[wc_2007['Group/Semi Final/Final']=='Group A']
wc_2007_groupB_tabel = wc_2007[wc_2007['Group/Semi Final/Final']=='Group B']
wc_2007_groupC_tabel = wc_2007[wc_2007['Group/Semi Final/Final']=='Group C']
wc_2007_groupD_tabel = wc_2007[wc_2007['Group/Semi Final/Final']=='Group D']
wc_2007_groupE_tabel = wc_2007[wc_2007['Group/Semi Final/Final']=='Group E']
wc_2007_groupF_tabel = wc_2007[wc_2007['Group/Semi Final/Final']=='Group F']
wc_2007_semi1_tabel = wc_2007[wc_2007['Group/Semi Final/Final']=='1st Semi Final']
wc_2007_semi2_tabel = wc_2007[wc_2007['Group/Semi Final/Final']=='2nd Semi Final']
wc_2007_final_table = wc_2007[wc_2007['Group/Semi Final/Final']=='Final']

Group A

In [43]:
wc_2007_groupA_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
0,1,2007-11-09,Group A,South Africa vs West Indies,"The Wanderers Stadium, Johannesburg",208/2(17.4 overs),205/6(20 overs),South Africa,South Africa won by 8 wickets,Chris Gayle,South Africa,West Indies,West Indies,208,17.4,205,20.0,1.704023,-1.704023
4,5,2007-09-13,Group A,Bangladesh vs West Indies,"The Wanderers Stadium, Johannesburg",165/4(18 overs),164/8(20 overs),Bangladesh,Bangladesh won by 6 wickets,Mohammad Ashraful,Bangladesh,West Indies,West Indies,165,18.0,164,20.0,0.966667,-0.966667
11,12,2007-09-15,Group A,South Africa vs Bangladesh,"Newlands, Cape Town",146/3(18.5 overs),144(19.3 overs),South Africa,South Africa won by 7 wickets,Morne Morkel,South Africa,Bangladesh,Bangladesh,146,18.5,144,19.3,0.430752,-0.430752

In [44]:
unique_teamsA = pd.unique(wc_2007_groupA_tabel[['Winner Team','Losing Team']].values.ravel('K'))

In [45]:
unique_teamsA

array(['South Africa', 'Bangladesh', 'West Indies'], dtype=object)

In [46]:
win_countsA = pd.DataFrame(wc_2007_groupA_tabel['Winner Team'].value_counts()).reset_index()
win_countsA = win_countsA.rename(columns={"index":"Teams", "Winner Team": "Won"})
win_countsA

          Teams  Won
0  South Africa    2
1    Bangladesh    1

In [47]:
groupA_point_table = pd.DataFrame({"Teams":unique_teamsA, "Matches": len(unique_teamsA)-1})

In [48]:
groupA_point_table

          Teams  Matches
0  South Africa        2
1    Bangladesh        2
2   West Indies        2

In [49]:
groupA_point_table = pd.merge(groupA_point_table, win_countsA, how="left", left_on='Teams', right_on='Teams')

In [50]:
groupA_point_table.fillna(0,inplace=True)

In [51]:
groupA_point_table

          Teams  Matches  Won
0  South Africa        2  2.0
1    Bangladesh        2  1.0
2   West Indies        2  0.0

In [52]:
groupA_point_table['Loss'] = groupA_point_table['Matches'] - groupA_point_table['Won']

In [53]:
groupA_point_table

          Teams  Matches  Won  Loss
0  South Africa        2  2.0   0.0
1    Bangladesh        2  1.0   1.0
2   West Indies        2  0.0   2.0

In [54]:
groupA_point_table['Point'] = 2*groupA_point_table['Won']
groupA_point_table

          Teams  Matches  Won  Loss  Point
0  South Africa        2  2.0   0.0    4.0
1    Bangladesh        2  1.0   1.0    2.0
2   West Indies        2  0.0   2.0    0.0

In [55]:
nrr = pd.merge(wc_2007_groupA_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2007_groupA_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [56]:
nrr['Teams'] = nrr['Winner Team'].combine_first(nrr['Losing Team'])

In [57]:
nrr.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrr.fillna(0, inplace=True)

In [58]:
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']

In [59]:
nrr.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [60]:
nrr = nrr.sort_values('NRR', ascending=False).reset_index(drop=True)

In [61]:
nrr

          Teams       NRR
0  South Africa  2.134775
1    Bangladesh  0.535915
2   West Indies -2.670690

In [62]:
groupA_point_table = pd.merge(groupA_point_table, nrr, on='Teams', how='left')
groupA_point_table

          Teams  Matches  Won  Loss  Point       NRR
0  South Africa        2  2.0   0.0    4.0  2.134775
1    Bangladesh        2  1.0   1.0    2.0  0.535915
2   West Indies        2  0.0   2.0    0.0 -2.670690

Group D, im handling tie case manually (Special case)

In [63]:
wc_2007_groupD_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
2,3,2007-12-09,Group D,Pakistan vs Scotland,"Kingsmead, Durban",171/9(20 overs),120(19.5 overs),Pakistan,Pakistan won by 51 runs,Shahid Afridi,Pakistan,Scotland,Scotland,171,20.0,120,19.5,2.396154,-2.396154
6,7,2007-09-13,Group D,India vs Scotland,"Kingsmead, Durban",NO,NO,NO,No result (abandoned with a toss),NO,India,Scotland,NO,0,0.0,0,0.0,0.000000,0.000000
9,10,2007-09-14,Group D,India vs Pakistan,"Kingsmead, Durban",141/9(20 overs),141/7(20 overs),India,Match tied (India won the bowl-out),Mohammad Asif,India,Pakistan,Pakistan,141,20.0,141,20.0,0.000000,0.000000

In [64]:
unique_teamsD = pd.unique(wc_2007_groupD_tabel[['Winner Team','Losing Team']].values.ravel('K'))
unique_teamsD

array(['Pakistan', 'NO', 'India', 'Scotland'], dtype=object)

In [65]:
win_countsD = pd.DataFrame(wc_2007_groupD_tabel['Winner Team'].value_counts()).reset_index()
win_countsD = win_countsD.rename(columns={"index":"Teams", "Winner Team": "Won"})
win_counts = win_countsD[win_countsD['Teams'] != 'NO'].reset_index().drop(columns='index')
win_counts

      Teams  Won
0  Pakistan    1
1     India    1

In [66]:
groupD_point_table = pd.DataFrame({"Teams":unique_teamsD, "Matches":2})
groupD_point_table = groupD_point_table[groupD_point_table['Teams'] != 'NO'].reset_index().drop(columns={'index'})

In [67]:
groupD_point_table

      Teams  Matches
0  Pakistan        2
1     India        2
2  Scotland        2

In [68]:
groupD_point_table = pd.merge(groupD_point_table, win_countsD, how='left', left_on='Teams', right_on='Teams')

In [69]:
groupD_point_table.fillna(0,inplace=True)

In [70]:
groupD_point_table

      Teams  Matches  Won
0  Pakistan        2  1.0
1     India        2  1.0
2  Scotland        2  0.0

In [71]:
groupD_point_table['Tie'] = 1

In [72]:
groupD_point_table.loc[groupD_point_table['Teams']=='Pakistan','Tie'] = 0

In [73]:
groupD_point_table['Loss'] = groupD_point_table['Matches'] - groupD_point_table['Won'] - groupD_point_table['Tie']

In [74]:
groupD_point_table['Points'] = 2*groupD_point_table['Won'] + groupD_point_table['Tie']

In [75]:
groupD_point_table = groupD_point_table.sort_values(by='Points', ascending=False).reset_index(drop=True)

In [76]:
groupD_point_table = groupD_point_table[['Teams', 'Matches', 'Won', 'Loss', 'Tie', 'Points']]

In [77]:
groupD_point_table

      Teams  Matches  Won  Loss  Tie  Points
0     India        2  1.0   0.0    1     3.0
1  Pakistan        2  1.0   1.0    0     2.0
2  Scotland        2  0.0   1.0    1     1.0

In [78]:
nrrD = pd.merge(wc_2007_groupD_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2007_groupD_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [79]:
nrrD['Teams'] = nrrD['Winner Team'].combine_first(nrrD['Losing Team'])

In [80]:
nrrD.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrrD.fillna(0, inplace=True)

In [81]:
nrrD = nrrD[nrrD['Teams']!='NO']

In [82]:
nrrD

   Winning Team NRR  Losing Team NRR     Teams
0          0.000000         0.000000     India
2          2.396154         0.000000  Pakistan
3          0.000000        -2.396154  Scotland

In [83]:
nrrD['NRR'] = nrrD['Winning Team NRR'] + nrrD['Losing Team NRR']

In [84]:
nrrD.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [85]:
groupD_point_table = pd.merge(groupD_point_table, nrrD, on='Teams', how='left')
groupD_point_table

      Teams  Matches  Won  Loss  Tie  Points       NRR
0     India        2  1.0   0.0    1     3.0  0.000000
1  Pakistan        2  1.0   1.0    0     2.0  2.396154
2  Scotland        2  0.0   1.0    1     1.0 -2.396154

Group B

In [86]:
wc_2007_groupB_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
3,4,2007-12-09,Group B,Australia vs Zimbabwe,"Newlands, Cape Town",139/5(19.5 overs),138/9(20 overs),Zimbabwe,Zimbabwe won by 5 wickets,Brendan Taylor,Australia,Zimbabwe,Australia,139,19.5,138,20.0,0.228205,-0.228205
5,6,2007-09-13,Group B,England vs Zimbabwe,"Newlands, Cape Town",188/9(20 overs),138/7(20 overs),England,England won by 50 runs,Kevin Pietersen,England,Zimbabwe,Zimbabwe,188,20.0,138,20.0,2.500000,-2.500000
8,9,2007-09-14,Group B,Australia vs England,"Newlands, Cape Town",136/2(14.5 overs),135(20 overs),Australia,Australia won by 8 wickets,Nathan Bracken,Australia,England,England,136,14.5,135,20.0,2.629310,-2.629310

In [87]:
unique_teamsB = pd.unique(wc_2007_groupB_tabel[['Winner Team', 'Losing Team']].values.ravel('K'))

In [88]:
unique_teamsB

array(['Zimbabwe', 'England', 'Australia'], dtype=object)

In [89]:
win_countsB = pd.DataFrame(wc_2007_groupB_tabel['Winner Team'].value_counts()).reset_index()
win_countsB = win_countsB.rename(columns={"index":"Teams", "Winner Team": "Won"})
win_countsB

       Teams  Won
0   Zimbabwe    1
1    England    1
2  Australia    1

In [90]:
groupB_point_table = pd.DataFrame({"Teams":unique_teamsB, "Matches": len(unique_teamsB)-1})

In [91]:
groupB_point_table

       Teams  Matches
0   Zimbabwe        2
1    England        2
2  Australia        2

In [92]:
groupB_point_table = pd.merge(groupB_point_table, win_countsB, how="left", left_on='Teams', right_on='Teams')

In [93]:
groupB_point_table['Loss'] = groupB_point_table['Matches'] - groupB_point_table['Won']

In [94]:
groupB_point_table

       Teams  Matches  Won  Loss
0   Zimbabwe        2    1     1
1    England        2    1     1
2  Australia        2    1     1

In [95]:
groupB_point_table['Tie'] = groupB_point_table['Matches'] - groupB_point_table['Won']- groupB_point_table['Loss']

In [96]:
groupB_point_table['Point'] = 2*groupB_point_table['Won'] + groupB_point_table['Tie']

In [97]:
groupB_point_table

       Teams  Matches  Won  Loss  Tie  Point
0   Zimbabwe        2    1     1    0      2
1    England        2    1     1    0      2
2  Australia        2    1     1    0      2

In [98]:
nrrB = pd.merge(wc_2007_groupB_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2007_groupB_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [99]:
nrrB

  Winner Team  Winning Team NRR Losing Team  Losing Team NRR
0   Australia          2.629310   Australia        -0.228205
1     England          2.500000     England        -2.629310
2    Zimbabwe          0.228205    Zimbabwe        -2.500000

In [100]:
nrrB['Teams'] = nrrB['Winner Team'].combine_first(nrrB['Losing Team'])

In [101]:
nrrB.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)

In [102]:
nrrB['NRR'] = nrrB['Winning Team NRR'] + nrrB['Losing Team NRR']

In [103]:
nrrB.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [104]:
nrrB

       Teams       NRR
0  Australia  2.401105
1    England -0.129310
2   Zimbabwe -2.271795

In [105]:
groupB_point_table = pd.merge(groupB_point_table, nrrB, on='Teams', how='left')

In [106]:
groupB_point_table = groupB_point_table.sort_values('NRR', ascending=False).reset_index(drop=True)

In [107]:
groupB_point_table

       Teams  Matches  Won  Loss  Tie  Point       NRR
0  Australia        2    1     1    0      2  2.401105
1    England        2    1     1    0      2 -0.129310
2   Zimbabwe        2    1     1    0      2 -2.271795

Group C

In [108]:
wc_2007_groupC_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
1,2,2007-12-09,Group C,Kenya vs New Zealand,"Kingsmead, Durban",74/1(7.4 overs),73(16.5 overs),New Zealand,New Zealand won by 9 wickets,Mark Gillespie,Kenya,New Zealand,Kenya,74,7.4,73,16.5,5.575758,-5.575758
7,8,2007-09-14,Group C,Kenya vs Sri Lanka,"The Wanderers Stadium, Johannesburg",260/6(20 overs),88(19.3 overs),Sri Lanka,Sri Lanka won by 172 runs,Sanath Jayasuriya,Kenya,Sri Lanka,Kenya,260,20.0,88,19.3,8.440415,-8.440415
10,11,2007-09-15,Group C,New Zealand vs Sri Lanka,"The Wanderers Stadium, Johannesburg",168/3(18.5 overs),164/7(20 overs),Sri Lanka,Sri Lanka won by 7 wickets,Sanath Jayasuriya,New Zealand,Sri Lanka,New Zealand,168,18.5,164,20.0,0.881081,-0.881081

In [109]:
unique_teamsC = pd.unique(wc_2007_groupC_tabel[['Winner Team', 'Losing Team']].values.ravel('K'))

In [110]:
unique_teamsC

array(['New Zealand', 'Sri Lanka', 'Kenya'], dtype=object)

In [111]:
win_countsC = pd.DataFrame(wc_2007_groupC_tabel['Winner Team'].value_counts()).reset_index()
win_countsC = win_countsC.rename(columns={'index':'Teams', "Winner Team": "Won"})
win_countsC

         Teams  Won
0    Sri Lanka    2
1  New Zealand    1

In [112]:
groupC_point_table = pd.DataFrame({"Teams":unique_teamsC, "Matches": len(unique_teamsC)-1})

In [113]:
groupC_point_table

         Teams  Matches
0  New Zealand        2
1    Sri Lanka        2
2        Kenya        2

In [114]:
groupC_point_table = pd.merge(groupC_point_table, win_countsC, how="left", left_on='Teams', right_on='Teams')

In [115]:
groupC_point_table

         Teams  Matches  Won
0  New Zealand        2  1.0
1    Sri Lanka        2  2.0
2        Kenya        2  NaN

In [116]:
groupC_point_table.fillna(0,inplace=True)

In [117]:
groupC_point_table['Loss'] = groupC_point_table['Matches'] - groupC_point_table['Won']

In [118]:
groupC_point_table['Tie'] = groupC_point_table['Matches'] - groupC_point_table['Won']- groupC_point_table['Loss']

In [119]:
groupC_point_table['Points'] = 2*groupC_point_table['Won'] + groupC_point_table['Tie']

In [120]:
groupC_point_table = groupC_point_table.sort_values(by='Points', ascending=False).reset_index(drop=True)

In [121]:
groupC_point_table

         Teams  Matches  Won  Loss  Tie  Points
0    Sri Lanka        2  2.0   0.0  0.0     4.0
1  New Zealand        2  1.0   1.0  0.0     2.0
2        Kenya        2  0.0   2.0  0.0     0.0

In [122]:
nrrC = pd.merge(wc_2007_groupC_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2007_groupC_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [123]:
nrrC['Teams'] = nrrC['Winner Team'].combine_first(nrrC['Losing Team'])

In [124]:
nrrC.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrrC.fillna(0, inplace=True)

In [125]:
nrrC['NRR'] = nrrC['Winning Team NRR'] + nrrC['Losing Team NRR']

In [126]:
nrrC

   Winning Team NRR  Losing Team NRR        Teams        NRR
0          5.575758        -0.881081  New Zealand   4.694676
1          9.321496         0.000000    Sri Lanka   9.321496
2          0.000000       -14.016172        Kenya -14.016172

In [127]:
nrrC.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [128]:
nrrC

         Teams        NRR
0  New Zealand   4.694676
1    Sri Lanka   9.321496
2        Kenya -14.016172

In [129]:
groupC_point_table = pd.merge(groupC_point_table, nrrC, on='Teams', how='left')
groupC_point_table

         Teams  Matches  Won  Loss  Tie  Points        NRR
0    Sri Lanka        2  2.0   0.0  0.0     4.0   9.321496
1  New Zealand        2  1.0   1.0  0.0     2.0   4.694676
2        Kenya        2  0.0   2.0  0.0     0.0 -14.016172

Group E

In [130]:
wc_2007_groupE_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
12,13,2007-09-16,Group E,India vs New Zealand,"The Wanderers Stadium, Johannesburg",190(20 overs),180/9(20 overs),New Zealand,New Zealand won by 10 runs,Daniel Vettori,India,New Zealand,India,190,20.0,180,20.0,0.500000,-0.500000
14,15,2007-09-16,Group E,South Africa vs England,"Newlands, Cape Town",154/8(20 overs),135/7(20 overs),South Africa,South Africa won by 19 runs,Albie Morkel,South Africa,England,England,154,20.0,135,20.0,0.950000,-0.950000
16,17,2007-09-18,Group E,England vs New Zealand,"Kingsmead, Durban",164/9(20 overs),159/8(20 overs),New Zealand,New Zealand won by 5 runs,Craig McMillan,England,New Zealand,England,164,20.0,159,20.0,0.250000,-0.250000
19,20,2007-09-19,Group E,South Africa vs New Zealand,"Kingsmead, Durban",158/4(19.1 overs),153/8(20 overs),South Africa,South Africa won by 6 wickets,Justin Kemp,South Africa,New Zealand,New Zealand,158,19.1,153,20.0,0.622251,-0.622251
20,21,2007-09-19,Group E,England vs India,"Kingsmead, Durban",218/4(20 overs),200/6(20 overs),India,India won by 18 runs,Yuvraj Singh,England,India,England,218,20.0,200,20.0,0.900000,-0.900000
23,24,2007-09-20,Group E,South Africa vs India,"Kingsmead, Durban",153/5(20 overs),116/9(20 overs),India,India won by 37 runs,Rohit Sharma,South Africa,India,South Africa,153,20.0,116,20.0,1.850000,-1.850000

In [131]:
unique_teamsE = pd.unique(wc_2007_groupE_tabel[['Winner Team', 'Losing Team']].values.ravel('K'))

In [132]:
unique_teamsE

array(['New Zealand', 'South Africa', 'India', 'England'], dtype=object)

In [133]:
win_countsE = pd.DataFrame(wc_2007_groupE_tabel['Winner Team'].value_counts()).reset_index()
win_countsE = win_countsE.rename(columns={'index':'Teams', "Winner Team": "Won"})
win_countsE

          Teams  Won
0   New Zealand    2
1  South Africa    2
2         India    2

In [134]:
groupE_point_table = pd.DataFrame({"Teams":unique_teamsE, "Matches": len(unique_teamsE)-1})

In [135]:
groupE_point_table

          Teams  Matches
0   New Zealand        3
1  South Africa        3
2         India        3
3       England        3

In [136]:
groupE_point_table = pd.merge(groupE_point_table, win_countsE, how="left", left_on='Teams', right_on='Teams')

In [137]:
groupE_point_table

          Teams  Matches  Won
0   New Zealand        3  2.0
1  South Africa        3  2.0
2         India        3  2.0
3       England        3  NaN

In [138]:
groupE_point_table.fillna(0,inplace=True)

In [139]:
groupE_point_table['Loss'] = groupE_point_table['Matches'] - groupE_point_table['Won']

In [140]:
groupE_point_table['Tie'] = groupE_point_table['Matches'] - groupE_point_table['Won']- groupE_point_table['Loss']

In [141]:
groupE_point_table['Points'] = 2*groupE_point_table['Won'] + groupE_point_table['Tie']

In [142]:
groupE_point_table = groupE_point_table.sort_values(by='Points', ascending=False).reset_index(drop=True)

In [143]:
groupE_point_table

          Teams  Matches  Won  Loss  Tie  Points
0   New Zealand        3  2.0   1.0  0.0     4.0
1  South Africa        3  2.0   1.0  0.0     4.0
2         India        3  2.0   1.0  0.0     4.0
3       England        3  0.0   3.0  0.0     0.0

In [144]:
nrrE = pd.merge(wc_2007_groupE_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2007_groupE_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [145]:
nrrE['Teams'] = nrrE['Winner Team'].combine_first(nrrE['Losing Team'])

In [146]:
nrrE.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)

In [147]:
nrrE.fillna(0, inplace=True)

In [148]:
nrrE['NRR'] = nrrE['Winning Team NRR'] + nrrE['Losing Team NRR']

In [149]:
nrrE.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [150]:
groupE_point_table = pd.merge(groupE_point_table, nrrE, on='Teams', how='left')

In [151]:
groupE_point_table

          Teams  Matches  Won  Loss  Tie  Points       NRR
0   New Zealand        3  2.0   1.0  0.0     4.0  0.127749
1  South Africa        3  2.0   1.0  0.0     4.0 -0.277749
2         India        3  2.0   1.0  0.0     4.0  2.250000
3       England        3  0.0   3.0  0.0     0.0 -2.100000

In [152]:
groupE_point_table = groupE_point_table.sort_values('NRR', ascending=False).reset_index(drop=True)

In [153]:
groupE_point_table

          Teams  Matches  Won  Loss  Tie  Points       NRR
0         India        3  2.0   1.0  0.0     4.0  2.250000
1   New Zealand        3  2.0   1.0  0.0     4.0  0.127749
2  South Africa        3  2.0   1.0  0.0     4.0 -0.277749
3       England        3  0.0   3.0  0.0     0.0 -2.100000

Group F

In [155]:
wc_2007_groupF_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
13,14,2007-09-16,Group F,Australia vs Bangladesh,"Newlands, Cape Town",124/1(13.5 overs),123/8(20 overs),Australia,Australia won by 9 wickets,Brett Lee,Australia,Bangladesh,Bangladesh,124,13.5,123,20.0,3.035185,-3.035185
15,16,2007-09-17,Group F,Pakistan vs Sri Lanka,"The Wanderers Stadium, Johannesburg",189/6(20 overs),156/9(20 overs),Pakistan,Pakistan won by 33 runs,Younis Khan,Pakistan,Sri Lanka,Sri Lanka,189,20.0,156,20.0,1.650000,-1.650000
17,18,2007-09-18,Group F,Australia vs Pakistan,"The Wanderers Stadium, Johannesburg",165/4(19.1 overs),164/7(20 overs),Pakistan,Pakistan won by 6 wickets,Misbah-ul-Haq,Australia,Pakistan,Australia,165,19.1,164,20.0,0.438743,-0.438743
18,19,2007-09-18,Group F,Bangladesh vs Sri Lanka,"The Wanderers Stadium, Johannesburg",147/5(20 overs),83(15.5 overs),Sri Lanka,Sri Lanka won by 64 runs,Dilhara Fernando,Bangladesh,Sri Lanka,Bangladesh,147,20.0,83,15.5,1.995161,-1.995161
21,22,2007-09-20,Group F,Australia vs Sri Lanka,"Newlands, Cape Town",102/0(10.2 overs),101(19.3 overs),Australia,Australia won by 10 wickets,Stuart Clark,Australia,Sri Lanka,Sri Lanka,102,10.2,101,19.3,4.766839,-4.766839
22,23,2007-09-20,Group F,Bangladesh vs Pakistan,"Newlands, Cape Town",141/6(19 overs),140(19.4 overs),Pakistan,Pakistan won by 4 wickets,Junaid Siddique,Bangladesh,Pakistan,Bangladesh,141,19.0,140,19.4,0.204558,-0.204558

In [156]:
unique_teamsF = pd.unique(wc_2007_groupF_tabel[['Winner Team','Losing Team']].values.ravel('K'))

In [157]:
unique_teamsF

array(['Australia', 'Pakistan', 'Sri Lanka', 'Bangladesh'], dtype=object)

In [158]:
win_countsF = pd.DataFrame(wc_2007_groupF_tabel['Winner Team'].value_counts()).reset_index()
win_countsF = win_countsF.rename(columns={"index":"Teams", "Winner Team": "Won"})
win_countsF

       Teams  Won
0   Pakistan    3
1  Australia    2
2  Sri Lanka    1

In [159]:
groupF_point_table = pd.DataFrame({"Teams":unique_teamsF, "Matches": len(unique_teamsF)-1})

In [160]:
groupF_point_table

        Teams  Matches
0   Australia        3
1    Pakistan        3
2   Sri Lanka        3
3  Bangladesh        3

In [161]:
groupF_point_table = pd.merge(groupF_point_table, win_countsF, how="left", left_on='Teams', right_on='Teams')

In [162]:
groupF_point_table.fillna(0,inplace=True)

In [163]:
groupF_point_table

        Teams  Matches  Won
0   Australia        3  2.0
1    Pakistan        3  3.0
2   Sri Lanka        3  1.0
3  Bangladesh        3  0.0

In [164]:
groupF_point_table['Loss'] = groupF_point_table['Matches'] - groupF_point_table['Won']

In [165]:
groupF_point_table['Point'] = 2*groupF_point_table['Won']
groupF_point_table

        Teams  Matches  Won  Loss  Point
0   Australia        3  2.0   1.0    4.0
1    Pakistan        3  3.0   0.0    6.0
2   Sri Lanka        3  1.0   2.0    2.0
3  Bangladesh        3  0.0   3.0    0.0

In [166]:
nrrF = pd.merge(wc_2007_groupF_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2007_groupF_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [167]:
nrrF['Teams'] = nrrF['Winner Team'].combine_first(nrrF['Losing Team'])

In [168]:
nrrF.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrrF.fillna(0, inplace=True)

In [169]:
nrrF['NRR'] = nrrF['Winning Team NRR'] + nrrF['Losing Team NRR']

In [170]:
nrrF.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [171]:
groupF_point_table = pd.merge(groupF_point_table, nrrF, on='Teams', how='left')
groupF_point_table

        Teams  Matches  Won  Loss  Point       NRR
0   Australia        3  2.0   1.0    4.0  7.363281
1    Pakistan        3  3.0   0.0    6.0  2.293301
2   Sri Lanka        3  1.0   2.0    2.0 -4.421678
3  Bangladesh        3  0.0   3.0    0.0 -5.234904

In [172]:
groupF_point_table = groupF_point_table.sort_values('Point', ascending=False).reset_index(drop=True)

In [173]:
groupF_point_table

        Teams  Matches  Won  Loss  Point       NRR
0    Pakistan        3  3.0   0.0    6.0  2.293301
1   Australia        3  2.0   1.0    4.0  7.363281
2   Sri Lanka        3  1.0   2.0    2.0 -4.421678
3  Bangladesh        3  0.0   3.0    0.0 -5.234904

Semi-Final 1

In [174]:
wc_2007_semi1_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
24,25,2007-09-22,1st Semi Final,New Zealand vs Pakistan,"Newlands, Cape Town",147/4(18.5 overs),143/8(20 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul,New Zealand,Pakistan,New Zealand,147,18.5,143,20.0,0.795946,-0.795946

Semi-Final 2

In [175]:
wc_2007_semi2_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
25,26,2007-09-22,2nd Semi Final,Australia vs India,"Kingsmead, Durban",188/5(20 overs),173/7(20 overs),India,India won by 15 runs,Yuvraj Singh,Australia,India,Australia,188,20.0,173,20.0,0.75,-0.75

Final

In [176]:
wc_2007_final_table

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
26,27,2007-09-24,Final,India vs Pakistan,"The Wanderers Stadium, Johannesburg",157/5(20 overs),152(19.3 overs),India,India won by 5 runs,Irfan Pathan,India,Pakistan,Pakistan,157,20.0,152,19.3,-0.025648,0.025648

# WC_2009

In [179]:
wc_2009

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match
0,1,2009-05-06,Group B,England vs Netherlands,"Lord's, London",163/6(20 overs),162/5(20 overs),Netherlands,Netherlands won by 4 wickets,Tom de Grooth
1,2,2009-06-06,Group D,New Zealand vs Scotland,"Kennington Oval, London",90/3(6 overs),89/4(7 overs),New Zealand,New Zealand won by 7 wickets,Ian Butler
2,3,2009-06-06,Group C,Australia vs West Indies,"Kennington Oval, London",172/3(15.5 overs),169/7(20 overs),West Indies,West Indies won by 7 wickets,Chris Gayle
3,4,2009-06-06,Group A,Bangladesh vs India,"Trent Bridge, Nottingham",180/5(20 overs),155/8(20 overs),India,India won by 25 runs,Pragyan Ojha
4,5,2009-07-06,Group D,Scotland vs South Africa,"Kennington Oval, London",211/5(20 overs),81(15.4 overs),South Africa,South Africa won by 130 runs,AB de Villiers
5,6,2009-07-06,Group B,England vs Pakistan,"Kennington Oval, London",185/5(20 overs),137/7(20 overs),England,England won by 48 runs,Luke Wright
6,7,2009-08-06,Group A,Bangladesh vs Ireland,"Trent Bridge, Nottingham",138/4(18.2 overs),137/8(20 overs),Ireland,Ireland won by 6 wickets,Niall O Brien
7,8,2009-08-06,Group C,Australia vs Sri Lanka,"Trent Bridge, Nottingham",160/4(19 overs),159/9(20 overs),Sri Lanka,Sri Lanka won by 6 wickets,Kumar Sangakkara
8,9,2009-09-06,Group B,Netherlands vs Pakistan,"Lord's, London",175/5(20 overs),93(17.3 overs),Pakistan,Pakistan won by 82 runs,Kamran Akmal
9,10,2009-09-06,Group D,New Zealand vs South Africa,"Lord's, London",128/7(20 overs),127/5(20 overs),South Africa,South Africa won by 1 run,Roelof van der Merwe
10,11,2009-10-06,Group C,Sri Lanka vs West Indies,"Trent Bridge, Nottingham",192/5(20 overs),177/5(20 overs),Sri Lanka,Sri Lanka won by 15 runs,Sanath Jayasuriya
11,12,2009-10-06,Group A,India vs Ireland,"Trent Bridge, Nottingham",113/2(15.3 overs),112/8(18 overs),India,India won by 8 wickets,Zaheer Khan
12,13,2009-11-06,Group F,Ireland vs New Zealand,"Trent Bridge, Nottingham",198/5(20 overs),115(16.4 overs),New Zealand,New Zealand won by 83 runs,Aaron Redmond
13,14,2009-11-06,Group E,England vs South Africa,"Trent Bridge, Nottingham",114/3(18.2 overs),111(19.5 overs),South Africa,South Africa won by 7 wickets,Jacques Kallis
14,15,2009-12-06,Group F,Pakistan vs Sri Lanka,"Lord's, London",150/7(20 overs),131/9(20 overs),Sri Lanka,Sri Lanka won by 19 runs,Tillakaratne Dilshan
15,16,2009-12-06,Group E,India vs West Indies,"Lord's, London",156/3(18.4 overs),153/7(20 overs),West Indies,West Indies won by 7 wickets,Dwayne Bravo
16,17,2009-06-13,Group E,South Africa vs West Indies,"Kennington Oval, London",183/7(20 overs),163/9(20 overs),South Africa,South Africa won by 20 runs,Wayne Parnell
17,18,2009-06-13,Group F,New Zealand vs Pakistan,"Kennington Oval, London",100/4(13.1 overs),99(18.3 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul
18,19,2009-06-14,Group F,Ireland vs Sri Lanka,"Lord's, London",144/9(20 overs),135/7(20 overs),Sri Lanka,Sri Lanka won by 9 runs,Mahela Jayawardene
19,20,2009-06-14,Group E,England vs India,"Lord's, London",153/7(20 overs),150/5(20 overs),England,England won by 3 runs,Ryan Jay Sidebottom
20,21,2009-06-15,Group F,Ireland vs Pakistan,"Kennington Oval, London",159/5(20 overs),120/9(20 overs),Pakistan,Pakistan won by 39 runs,Kamran Akmal
21,22,2009-06-15,Group E,England vs West Indies,"Kennington Oval, London",82/5(8.2 overs),161/6(20 overs),West Indies,West Indies won by 5 wickets(D/L method),Ramnaresh Sarwan
22,23,2009-06-16,Group F,New Zealand vs Sri Lanka,"Trent Bridge, Nottingham",158/5(20 overs),110(17 overs),Sri Lanka,Sri Lanka won by 48 runs,Ajantha Mendis
23,24,2009-06-16,Group E,India vs South Africa,"Trent Bridge, Nottingham",130/5(20 overs),118/8(20 overs),South Africa,South Africa won by 12 runs,AB de Villiers
24,25,2009-06-18,1st Semi Final,Pakistan vs South Africa,"Trent Bridge, Nottingham",149/4(20 overs),142/5(20 overs),Pakistan,Pakistan won by 7 runs,Shahid Afridi
25,26,2009-06-19,2nd Semi Final,Sri Lanka vs West Indies,"Kennington Oval, London",158/5(20 overs),101(17.4 overs),Sri Lanka,Sri Lanka won by 57 runs,Tillakaratne Dilshan
26,27,2009-06-21,Final,Pakistan vs Sri Lanka,"Lord's, London",138/6(20 overs),139/2(18.4 overs),Pakistan,Pakistan won by 8 wickets,Shahid Afridi

In [178]:
wc_2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Match No                27 non-null     int64
 1   Date                    27 non-null     object
 2   Group/Semi Final/Final  27 non-null     object
 3   Match Between           27 non-null     object
 4   Venue                   27 non-null     object
 5   Winning Team Score      27 non-null     object
 6   Losing Team Score       27 non-null     object
 7   Winner Team             27 non-null     object
 8   Result                  27 non-null     object
 9   Player Of The Match     27 non-null     object
dtypes: int64(1), object(9)
memory usage: 2.2+ KB

In [181]:
wc_2009.isna().sum()

Match No                  0
Date                      0
Group/Semi Final/Final    0
Match Between             0
Venue                     0
Winning Team Score        0
Losing Team Score         0
Winner Team               0
Result                    0
Player Of The Match       0
dtype: int64

In [182]:
wc_2009['Team1'], wc_2009['Team2'] = wc_2009['Match Between'].str.split(' vs ',1).str

C:\Users\HP\AppData\Local\Temp\ipykernel_16648\2041792803.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  wc_2009['Team1'], wc_2009['Team2'] = wc_2009['Match Between'].str.split(' vs ',1).str
C:\Users\HP\AppData\Local\Temp\ipykernel_16648\2041792803.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  wc_2009['Team1'], wc_2009['Team2'] = wc_2009['Match Between'].str.split(' vs ',1).str

In [184]:
wc_2009['Losing Team'] = np.where(wc_2009['Winner Team']==wc_2009['Team1'], wc_2009['Team2'], wc_2009['Team1'])

In [188]:
wc_2009['Date'] = pd.to_datetime(wc_2009['Date'])

In [189]:
wc_2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Match No                27 non-null     int64
 1   Date                    27 non-null     datetime64[ns]
 2   Group/Semi Final/Final  27 non-null     object
 3   Match Between           27 non-null     object
 4   Venue                   27 non-null     object
 5   Winning Team Score      27 non-null     object
 6   Losing Team Score       27 non-null     object
 7   Winner Team             27 non-null     object
 8   Result                  27 non-null     object
 9   Player Of The Match     27 non-null     object
 10  Team1                   27 non-null     object
 11  Team2                   27 non-null     object
 12  Losing Team             27 non-null     object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 2.9+ KB

extracting runs and overs of winning team

In [190]:
wc_2009['Winning Team Runs'] = wc_2009['Winning Team Score'].str.extract(r'(\d+)')
wc_2009['Winning Team Over Played']=wc_2009['Winning Team Score'].str.extract(r'\((\d+(?:\.\d{1,2})?) overs\)')

extracting runs and overs of losing team

In [191]:
wc_2009['Losing Team Runs'] = wc_2009['Losing Team Score'].str.extract(r'(\d+)')
wc_2009['Losing Team Over Played']=wc_2009['Losing Team Score'].str.extract(r'\((\d+(?:\.\d{1,2})?) overs\)')

In [194]:
wc_2009['Winning Team Runs'] = pd.to_numeric(wc_2009['Winning Team Runs'])
wc_2009['Winning Team Over Played'] = pd.to_numeric(wc_2009['Winning Team Over Played'])
wc_2009['Losing Team Runs'] = pd.to_numeric(wc_2009['Losing Team Runs'])
wc_2009['Losing Team Over Played'] = pd.to_numeric(wc_2009['Losing Team Over Played'])

In [195]:
wc_2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Match No                  27 non-null     int64
 1   Date                      27 non-null     datetime64[ns]
 2   Group/Semi Final/Final    27 non-null     object
 3   Match Between             27 non-null     object
 4   Venue                     27 non-null     object
 5   Winning Team Score        27 non-null     object
 6   Losing Team Score         27 non-null     object
 7   Winner Team               27 non-null     object
 8   Result                    27 non-null     object
 9   Player Of The Match       27 non-null     object
 10  Team1                     27 non-null     object
 11  Team2                     27 non-null     object
 12  Losing Team               27 non-null     object
 13  Winning Team Runs         27 non-null     int64
 14  Winning Team Over Played  27 non-null     float64
 15  Losing Team Runs          27 non-null     int64
 16  Losing Team Over Played   27 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(11)
memory usage: 3.7+ KB

In [196]:
wc_2009.groupby('Winner Team')['Winning Team Runs'].sum().reset_index()

    Winner Team  Winning Team Runs
0       England                338
1         India                293
2       Ireland                138
3   Netherlands                163
4   New Zealand                288
5      Pakistan                721
6  South Africa                766
7     Sri Lanka                962
8   West Indies                410

In [197]:
wc_2009.groupby('Losing Team')['Losing Team Runs'].sum().reset_index()

     Losing Team  Losing Team Runs
0      Australia               328
1     Bangladesh               292
2        England               434
3          India               421
4        Ireland               482
5    Netherlands                93
6    New Zealand               336
7       Pakistan               268
8       Scotland               170
9   South Africa               142
10     Sri Lanka               139
11   West Indies               441

In [199]:
wc_2009['Group/Semi Final/Final'].value_counts()

Group F           6
Group E           6
Group B           3
Group D           3
Group C           3
Group A           3
1st Semi Final    1
2nd Semi Final    1
Final             1
Name: Group/Semi Final/Final, dtype: int64

In [200]:
wc_2009_matches = wc_2009[(wc_2009['Group/Semi Final/Final'] != '1st Semi Final') & (wc_2009['Group/Semi Final/Final'] != '2nd Semi Final') & (wc_2009['Group/Semi Final/Final'] != 'Final')]

In [201]:
wc_2009_runs_in_loss = wc_2009_matches.groupby('Losing Team')['Losing Team Runs'].sum().reset_index()

In [202]:
wc_2009_runs_overs_in_loss = wc_2009_matches.groupby('Losing Team').agg({'Losing Team Runs': 'sum', 'Losing Team Over Played': 'sum'}).reset_index()

In [203]:
wc_2009_runs_overs_in_wins = wc_2009_matches.groupby('Winner Team').agg({'Winning Team Runs': 'sum', 'Winning Team Over Played': 'sum'}).reset_index()

In [204]:
wc_2009

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played
0,1,2009-05-06,Group B,England vs Netherlands,"Lord's, London",163/6(20 overs),162/5(20 overs),Netherlands,Netherlands won by 4 wickets,Tom de Grooth,England,Netherlands,England,163,20.0,162,20.0
1,2,2009-06-06,Group D,New Zealand vs Scotland,"Kennington Oval, London",90/3(6 overs),89/4(7 overs),New Zealand,New Zealand won by 7 wickets,Ian Butler,New Zealand,Scotland,Scotland,90,6.0,89,7.0
2,3,2009-06-06,Group C,Australia vs West Indies,"Kennington Oval, London",172/3(15.5 overs),169/7(20 overs),West Indies,West Indies won by 7 wickets,Chris Gayle,Australia,West Indies,Australia,172,15.5,169,20.0
3,4,2009-06-06,Group A,Bangladesh vs India,"Trent Bridge, Nottingham",180/5(20 overs),155/8(20 overs),India,India won by 25 runs,Pragyan Ojha,Bangladesh,India,Bangladesh,180,20.0,155,20.0
4,5,2009-07-06,Group D,Scotland vs South Africa,"Kennington Oval, London",211/5(20 overs),81(15.4 overs),South Africa,South Africa won by 130 runs,AB de Villiers,Scotland,South Africa,Scotland,211,20.0,81,15.4
5,6,2009-07-06,Group B,England vs Pakistan,"Kennington Oval, London",185/5(20 overs),137/7(20 overs),England,England won by 48 runs,Luke Wright,England,Pakistan,Pakistan,185,20.0,137,20.0
6,7,2009-08-06,Group A,Bangladesh vs Ireland,"Trent Bridge, Nottingham",138/4(18.2 overs),137/8(20 overs),Ireland,Ireland won by 6 wickets,Niall O Brien,Bangladesh,Ireland,Bangladesh,138,18.2,137,20.0
7,8,2009-08-06,Group C,Australia vs Sri Lanka,"Trent Bridge, Nottingham",160/4(19 overs),159/9(20 overs),Sri Lanka,Sri Lanka won by 6 wickets,Kumar Sangakkara,Australia,Sri Lanka,Australia,160,19.0,159,20.0
8,9,2009-09-06,Group B,Netherlands vs Pakistan,"Lord's, London",175/5(20 overs),93(17.3 overs),Pakistan,Pakistan won by 82 runs,Kamran Akmal,Netherlands,Pakistan,Netherlands,175,20.0,93,17.3
9,10,2009-09-06,Group D,New Zealand vs South Africa,"Lord's, London",128/7(20 overs),127/5(20 overs),South Africa,South Africa won by 1 run,Roelof van der Merwe,New Zealand,South Africa,New Zealand,128,20.0,127,20.0
10,11,2009-10-06,Group C,Sri Lanka vs West Indies,"Trent Bridge, Nottingham",192/5(20 overs),177/5(20 overs),Sri Lanka,Sri Lanka won by 15 runs,Sanath Jayasuriya,Sri Lanka,West Indies,West Indies,192,20.0,177,20.0
11,12,2009-10-06,Group A,India vs Ireland,"Trent Bridge, Nottingham",113/2(15.3 overs),112/8(18 overs),India,India won by 8 wickets,Zaheer Khan,India,Ireland,Ireland,113,15.3,112,18.0
12,13,2009-11-06,Group F,Ireland vs New Zealand,"Trent Bridge, Nottingham",198/5(20 overs),115(16.4 overs),New Zealand,New Zealand won by 83 runs,Aaron Redmond,Ireland,New Zealand,Ireland,198,20.0,115,16.4
13,14,2009-11-06,Group E,England vs South Africa,"Trent Bridge, Nottingham",114/3(18.2 overs),111(19.5 overs),South Africa,South Africa won by 7 wickets,Jacques Kallis,England,South Africa,England,114,18.2,111,19.5
14,15,2009-12-06,Group F,Pakistan vs Sri Lanka,"Lord's, London",150/7(20 overs),131/9(20 overs),Sri Lanka,Sri Lanka won by 19 runs,Tillakaratne Dilshan,Pakistan,Sri Lanka,Pakistan,150,20.0,131,20.0
15,16,2009-12-06,Group E,India vs West Indies,"Lord's, London",156/3(18.4 overs),153/7(20 overs),West Indies,West Indies won by 7 wickets,Dwayne Bravo,India,West Indies,India,156,18.4,153,20.0
16,17,2009-06-13,Group E,South Africa vs West Indies,"Kennington Oval, London",183/7(20 overs),163/9(20 overs),South Africa,South Africa won by 20 runs,Wayne Parnell,South Africa,West Indies,West Indies,183,20.0,163,20.0
17,18,2009-06-13,Group F,New Zealand vs Pakistan,"Kennington Oval, London",100/4(13.1 overs),99(18.3 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul,New Zealand,Pakistan,New Zealand,100,13.1,99,18.3
18,19,2009-06-14,Group F,Ireland vs Sri Lanka,"Lord's, London",144/9(20 overs),135/7(20 overs),Sri Lanka,Sri Lanka won by 9 runs,Mahela Jayawardene,Ireland,Sri Lanka,Ireland,144,20.0,135,20.0
19,20,2009-06-14,Group E,England vs India,"Lord's, London",153/7(20 overs),150/5(20 overs),England,England won by 3 runs,Ryan Jay Sidebottom,England,India,India,153,20.0,150,20.0
20,21,2009-06-15,Group F,Ireland vs Pakistan,"Kennington Oval, London",159/5(20 overs),120/9(20 overs),Pakistan,Pakistan won by 39 runs,Kamran Akmal,Ireland,Pakistan,Ireland,159,20.0,120,20.0
21,22,2009-06-15,Group E,England vs West Indies,"Kennington Oval, London",82/5(8.2 overs),161/6(20 overs),West Indies,West Indies won by 5 wickets(D/L method),Ramnaresh Sarwan,England,West Indies,England,82,8.2,161,20.0
22,23,2009-06-16,Group F,New Zealand vs Sri Lanka,"Trent Bridge, Nottingham",158/5(20 overs),110(17 overs),Sri Lanka,Sri Lanka won by 48 runs,Ajantha Mendis,New Zealand,Sri Lanka,New Zealand,158,20.0,110,17.0
23,24,2009-06-16,Group E,India vs South Africa,"Trent Bridge, Nottingham",130/5(20 overs),118/8(20 overs),South Africa,South Africa won by 12 runs,AB de Villiers,India,South Africa,India,130,20.0,118,20.0
24,25,2009-06-18,1st Semi Final,Pakistan vs South Africa,"Trent Bridge, Nottingham",149/4(20 overs),142/5(20 overs),Pakistan,Pakistan won by 7 runs,Shahid Afridi,Pakistan,South Africa,South Africa,149,20.0,142,20.0
25,26,2009-06-19,2nd Semi Final,Sri Lanka vs West Indies,"Kennington Oval, London",158/5(20 overs),101(17.4 overs),Sri Lanka,Sri Lanka won by 57 runs,Tillakaratne Dilshan,Sri Lanka,West Indies,West Indies,158,20.0,101,17.4
26,27,2009-06-21,Final,Pakistan vs Sri Lanka,"Lord's, London",138/6(20 overs),139/2(18.4 overs),Pakistan,Pakistan won by 8 wickets,Shahid Afridi,Pakistan,Sri Lanka,Sri Lanka,138,20.0,139,18.4

In [205]:
wc_2009['Winning Team NRR'] = (wc_2009['Winning Team Runs']/ wc_2009['Winning Team Over Played'])- (wc_2009['Losing Team Runs']/ wc_2009['Losing Team Over Played'])

In [206]:
wc_2009['Losing Team NRR'] = (wc_2009['Losing Team Runs']/ wc_2009['Losing Team Over Played'])- (wc_2009['Winning Team Runs']/ wc_2009['Winning Team Over Played'])

In [207]:
wc_2009.isna().sum()

Match No                    0
Date                        0
Group/Semi Final/Final      0
Match Between               0
Venue                       0
Winning Team Score          0
Losing Team Score           0
Winner Team                 0
Result                      0
Player Of The Match         0
Team1                       0
Team2                       0
Losing Team                 0
Winning Team Runs           0
Winning Team Over Played    0
Losing Team Runs            0
Losing Team Over Played     0
Winning Team NRR            0
Losing Team NRR             0
dtype: int64

In [210]:
winning_nrr_2009 = wc_2009.groupby('Winner Team')['Winning Team NRR'].sum().reset_index()
winning_nrr_2009

    Winner Team  Winning Team NRR
0       England          2.550000
1         India          2.413399
2       Ireland          0.732418
3   Netherlands          0.050000
4   New Zealand          5.173519
5      Pakistan          7.243681
6  South Africa          7.511688
7     Sri Lanka          6.145867
8   West Indies          5.425035

In [211]:
losing_nrr_2009 = wc_2009.groupby('Losing Team')['Losing Team NRR'].sum().reset_index()

In [212]:
total_rnn_2009 = pd.merge(winning_nrr_2009, losing_nrr_2009, how='left', left_on='Winner Team', right_on='Losing Team')

In [213]:
total_rnn_2009['Net Run Rate'] = total_rnn_2009['Winning Team NRR'] + total_rnn_2009['Losing Team NRR']

In [214]:
total_rnn_2009

    Winner Team  Winning Team NRR   Losing Team  Losing Team NRR  Net Run Rate
0       England          2.550000       England        -2.571429     -0.021429
1         India          2.413399         India        -1.578261      0.835138
2       Ireland          0.732418       Ireland        -6.451204     -5.718786
3   Netherlands          0.050000   Netherlands        -3.374277     -3.324277
4   New Zealand          5.173519   New Zealand        -3.703163      1.470356
5      Pakistan          7.243681      Pakistan        -3.350000      3.893681
6  South Africa          7.511688  South Africa        -0.350000      7.161688
7     Sri Lanka          6.145867     Sri Lanka         0.654348      6.800215
8   West Indies          5.425035   West Indies        -3.845402      1.579633

In [215]:
wc_2009

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
0,1,2009-05-06,Group B,England vs Netherlands,"Lord's, London",163/6(20 overs),162/5(20 overs),Netherlands,Netherlands won by 4 wickets,Tom de Grooth,England,Netherlands,England,163,20.0,162,20.0,0.050000,-0.050000
1,2,2009-06-06,Group D,New Zealand vs Scotland,"Kennington Oval, London",90/3(6 overs),89/4(7 overs),New Zealand,New Zealand won by 7 wickets,Ian Butler,New Zealand,Scotland,Scotland,90,6.0,89,7.0,2.285714,-2.285714
2,3,2009-06-06,Group C,Australia vs West Indies,"Kennington Oval, London",172/3(15.5 overs),169/7(20 overs),West Indies,West Indies won by 7 wickets,Chris Gayle,Australia,West Indies,Australia,172,15.5,169,20.0,2.646774,-2.646774
3,4,2009-06-06,Group A,Bangladesh vs India,"Trent Bridge, Nottingham",180/5(20 overs),155/8(20 overs),India,India won by 25 runs,Pragyan Ojha,Bangladesh,India,Bangladesh,180,20.0,155,20.0,1.250000,-1.250000
4,5,2009-07-06,Group D,Scotland vs South Africa,"Kennington Oval, London",211/5(20 overs),81(15.4 overs),South Africa,South Africa won by 130 runs,AB de Villiers,Scotland,South Africa,Scotland,211,20.0,81,15.4,5.290260,-5.290260
5,6,2009-07-06,Group B,England vs Pakistan,"Kennington Oval, London",185/5(20 overs),137/7(20 overs),England,England won by 48 runs,Luke Wright,England,Pakistan,Pakistan,185,20.0,137,20.0,2.400000,-2.400000
6,7,2009-08-06,Group A,Bangladesh vs Ireland,"Trent Bridge, Nottingham",138/4(18.2 overs),137/8(20 overs),Ireland,Ireland won by 6 wickets,Niall O Brien,Bangladesh,Ireland,Bangladesh,138,18.2,137,20.0,0.732418,-0.732418
7,8,2009-08-06,Group C,Australia vs Sri Lanka,"Trent Bridge, Nottingham",160/4(19 overs),159/9(20 overs),Sri Lanka,Sri Lanka won by 6 wickets,Kumar Sangakkara,Australia,Sri Lanka,Australia,160,19.0,159,20.0,0.471053,-0.471053
8,9,2009-09-06,Group B,Netherlands vs Pakistan,"Lord's, London",175/5(20 overs),93(17.3 overs),Pakistan,Pakistan won by 82 runs,Kamran Akmal,Netherlands,Pakistan,Netherlands,175,20.0,93,17.3,3.374277,-3.374277
9,10,2009-09-06,Group D,New Zealand vs South Africa,"Lord's, London",128/7(20 overs),127/5(20 overs),South Africa,South Africa won by 1 run,Roelof van der Merwe,New Zealand,South Africa,New Zealand,128,20.0,127,20.0,0.050000,-0.050000
10,11,2009-10-06,Group C,Sri Lanka vs West Indies,"Trent Bridge, Nottingham",192/5(20 overs),177/5(20 overs),Sri Lanka,Sri Lanka won by 15 runs,Sanath Jayasuriya,Sri Lanka,West Indies,West Indies,192,20.0,177,20.0,0.750000,-0.750000
11,12,2009-10-06,Group A,India vs Ireland,"Trent Bridge, Nottingham",113/2(15.3 overs),112/8(18 overs),India,India won by 8 wickets,Zaheer Khan,India,Ireland,Ireland,113,15.3,112,18.0,1.163399,-1.163399
12,13,2009-11-06,Group F,Ireland vs New Zealand,"Trent Bridge, Nottingham",198/5(20 overs),115(16.4 overs),New Zealand,New Zealand won by 83 runs,Aaron Redmond,Ireland,New Zealand,Ireland,198,20.0,115,16.4,2.887805,-2.887805
13,14,2009-11-06,Group E,England vs South Africa,"Trent Bridge, Nottingham",114/3(18.2 overs),111(19.5 overs),South Africa,South Africa won by 7 wickets,Jacques Kallis,England,South Africa,England,114,18.2,111,19.5,0.571429,-0.571429
14,15,2009-12-06,Group F,Pakistan vs Sri Lanka,"Lord's, London",150/7(20 overs),131/9(20 overs),Sri Lanka,Sri Lanka won by 19 runs,Tillakaratne Dilshan,Pakistan,Sri Lanka,Pakistan,150,20.0,131,20.0,0.950000,-0.950000
15,16,2009-12-06,Group E,India vs West Indies,"Lord's, London",156/3(18.4 overs),153/7(20 overs),West Indies,West Indies won by 7 wickets,Dwayne Bravo,India,West Indies,India,156,18.4,153,20.0,0.828261,-0.828261
16,17,2009-06-13,Group E,South Africa vs West Indies,"Kennington Oval, London",183/7(20 overs),163/9(20 overs),South Africa,South Africa won by 20 runs,Wayne Parnell,South Africa,West Indies,West Indies,183,20.0,163,20.0,1.000000,-1.000000
17,18,2009-06-13,Group F,New Zealand vs Pakistan,"Kennington Oval, London",100/4(13.1 overs),99(18.3 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul,New Zealand,Pakistan,New Zealand,100,13.1,99,18.3,2.223752,-2.223752
18,19,2009-06-14,Group F,Ireland vs Sri Lanka,"Lord's, London",144/9(20 overs),135/7(20 overs),Sri Lanka,Sri Lanka won by 9 runs,Mahela Jayawardene,Ireland,Sri Lanka,Ireland,144,20.0,135,20.0,0.450000,-0.450000
19,20,2009-06-14,Group E,England vs India,"Lord's, London",153/7(20 overs),150/5(20 overs),England,England won by 3 runs,Ryan Jay Sidebottom,England,India,India,153,20.0,150,20.0,0.150000,-0.150000
20,21,2009-06-15,Group F,Ireland vs Pakistan,"Kennington Oval, London",159/5(20 overs),120/9(20 overs),Pakistan,Pakistan won by 39 runs,Kamran Akmal,Ireland,Pakistan,Ireland,159,20.0,120,20.0,1.950000,-1.950000
21,22,2009-06-15,Group E,England vs West Indies,"Kennington Oval, London",82/5(8.2 overs),161/6(20 overs),West Indies,West Indies won by 5 wickets(D/L method),Ramnaresh Sarwan,England,West Indies,England,82,8.2,161,20.0,1.950000,-1.950000
22,23,2009-06-16,Group F,New Zealand vs Sri Lanka,"Trent Bridge, Nottingham",158/5(20 overs),110(17 overs),Sri Lanka,Sri Lanka won by 48 runs,Ajantha Mendis,New Zealand,Sri Lanka,New Zealand,158,20.0,110,17.0,1.429412,-1.429412
23,24,2009-06-16,Group E,India vs South Africa,"Trent Bridge, Nottingham",130/5(20 overs),118/8(20 overs),South Africa,South Africa won by 12 runs,AB de Villiers,India,South Africa,India,130,20.0,118,20.0,0.600000,-0.600000
24,25,2009-06-18,1st Semi Final,Pakistan vs South Africa,"Trent Bridge, Nottingham",149/4(20 overs),142/5(20 overs),Pakistan,Pakistan won by 7 runs,Shahid Afridi,Pakistan,South Africa,South Africa,149,20.0,142,20.0,0.350000,-0.350000
25,26,2009-06-19,2nd Semi Final,Sri Lanka vs West Indies,"Kennington Oval, London",158/5(20 overs),101(17.4 overs),Sri Lanka,Sri Lanka won by 57 runs,Tillakaratne Dilshan,Sri Lanka,West Indies,West Indies,158,20.0,101,17.4,2.095402,-2.095402
26,27,2009-06-21,Final,Pakistan vs Sri Lanka,"Lord's, London",138/6(20 overs),139/2(18.4 overs),Pakistan,Pakistan won by 8 wickets,Shahid Afridi,Pakistan,Sri Lanka,Sri Lanka,138,20.0,139,18.4,-0.654348,0.654348

In [244]:
wc_2009_groupA_tabel = wc_2009[wc_2009['Group/Semi Final/Final']=='Group A']
wc_2009_groupB_tabel = wc_2009[wc_2009['Group/Semi Final/Final']=='Group B']
wc_2009_groupC_tabel = wc_2009[wc_2009['Group/Semi Final/Final']=='Group C']
wc_2009_groupD_tabel = wc_2009[wc_2009['Group/Semi Final/Final']=='Group D']
wc_2009_groupE_tabel = wc_2009[wc_2009['Group/Semi Final/Final']=='Group E']
wc_2009_groupF_tabel = wc_2009[wc_2009['Group/Semi Final/Final']=='Group F']
wc_2009_semi1_tabel = wc_2009[wc_2009['Group/Semi Final/Final']=='1st Semi Final']
wc_2009_semi2_tabel = wc_2009[wc_2009['Group/Semi Final/Final']=='2nd Semi Final']
wc_2009_final_table = wc_2009[wc_2009['Group/Semi Final/Final']=='Final']

Group A

In [245]:
wc_2009_groupA_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
3,4,2009-06-06,Group A,Bangladesh vs India,"Trent Bridge, Nottingham",180/5(20 overs),155/8(20 overs),India,India won by 25 runs,Pragyan Ojha,Bangladesh,India,Bangladesh,180,20.0,155,20.0,1.250000,-1.250000
6,7,2009-08-06,Group A,Bangladesh vs Ireland,"Trent Bridge, Nottingham",138/4(18.2 overs),137/8(20 overs),Ireland,Ireland won by 6 wickets,Niall O Brien,Bangladesh,Ireland,Bangladesh,138,18.2,137,20.0,0.732418,-0.732418
11,12,2009-10-06,Group A,India vs Ireland,"Trent Bridge, Nottingham",113/2(15.3 overs),112/8(18 overs),India,India won by 8 wickets,Zaheer Khan,India,Ireland,Ireland,113,15.3,112,18.0,1.163399,-1.163399

In [246]:
wc_2009_unique_teamsA = pd.unique(wc_2009_groupA_tabel[['Winner Team','Losing Team']].values.ravel('K'))
wc_2009_unique_teamsA

array(['India', 'Ireland', 'Bangladesh'], dtype=object)

In [247]:
wc_2009_win_countsA = pd.DataFrame(wc_2009_groupA_tabel['Winner Team'].value_counts()).reset_index()
wc_2009_win_countsA = wc_2009_win_countsA.rename(columns={"index":"Teams", "Winner Team": "Won"})
wc_2009_win_countsA

     Teams  Won
0    India    2
1  Ireland    1

In [248]:
wc_2009_groupA_point_table = pd.DataFrame({"Teams":wc_2009_unique_teamsA, "Matches": len(wc_2009_unique_teamsA)-1})
wc_2009_groupA_point_table

        Teams  Matches
0       India        2
1     Ireland        2
2  Bangladesh        2

In [249]:
wc_2009_groupA_point_table = pd.merge(wc_2009_groupA_point_table, wc_2009_win_countsA, how="left", left_on='Teams', right_on='Teams')
wc_2009_groupA_point_table

        Teams  Matches  Won
0       India        2  2.0
1     Ireland        2  1.0
2  Bangladesh        2  NaN

below code if it has nan value in above table

In [251]:
wc_2009_groupA_point_table.fillna(0,inplace=True)
wc_2009_groupA_point_table

        Teams  Matches  Won
0       India        2  2.0
1     Ireland        2  1.0
2  Bangladesh        2  0.0

In [252]:
wc_2009_groupA_point_table['Loss'] = wc_2009_groupA_point_table['Matches'] - wc_2009_groupA_point_table['Won']
wc_2009_groupA_point_table

        Teams  Matches  Won  Loss
0       India        2  2.0   0.0
1     Ireland        2  1.0   1.0
2  Bangladesh        2  0.0   2.0

In [253]:
wc_2009_groupA_point_table['Point'] = 2*wc_2009_groupA_point_table['Won']
wc_2009_groupA_point_table

        Teams  Matches  Won  Loss  Point
0       India        2  2.0   0.0    4.0
1     Ireland        2  1.0   1.0    2.0
2  Bangladesh        2  0.0   2.0    0.0

In [254]:
nrr = pd.merge(wc_2009_groupA_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2009_groupA_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

can copy below code as it is

In [255]:
nrr['Teams'] = nrr['Winner Team'].combine_first(nrr['Losing Team'])
nrr.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrr.fillna(0, inplace=True)
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [256]:
nrr

        Teams       NRR
0       India  2.413399
1     Ireland -0.430981
2  Bangladesh -1.982418

In [257]:
wc_2009_groupA_point_table = pd.merge(wc_2009_groupA_point_table, nrr, on='Teams', how='left')
wc_2009_groupA_point_table

        Teams  Matches  Won  Loss  Point       NRR
0       India        2  2.0   0.0    4.0  2.413399
1     Ireland        2  1.0   1.0    2.0 -0.430981
2  Bangladesh        2  0.0   2.0    0.0 -1.982418

Group B

In [258]:
wc_2009_groupB_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
0,1,2009-05-06,Group B,England vs Netherlands,"Lord's, London",163/6(20 overs),162/5(20 overs),Netherlands,Netherlands won by 4 wickets,Tom de Grooth,England,Netherlands,England,163,20.0,162,20.0,0.050000,-0.050000
5,6,2009-07-06,Group B,England vs Pakistan,"Kennington Oval, London",185/5(20 overs),137/7(20 overs),England,England won by 48 runs,Luke Wright,England,Pakistan,Pakistan,185,20.0,137,20.0,2.400000,-2.400000
8,9,2009-09-06,Group B,Netherlands vs Pakistan,"Lord's, London",175/5(20 overs),93(17.3 overs),Pakistan,Pakistan won by 82 runs,Kamran Akmal,Netherlands,Pakistan,Netherlands,175,20.0,93,17.3,3.374277,-3.374277

In [259]:
wc_2009_unique_teamsB = pd.unique(wc_2009_groupB_tabel[['Winner Team','Losing Team']].values.ravel('K'))
wc_2009_unique_teamsB

array(['Netherlands', 'England', 'Pakistan'], dtype=object)

In [260]:
wc_2009_win_countsB = pd.DataFrame(wc_2009_groupB_tabel['Winner Team'].value_counts()).reset_index()
wc_2009_win_countsB = wc_2009_win_countsB.rename(columns={"index":"Teams", "Winner Team": "Won"})
wc_2009_win_countsB

         Teams  Won
0  Netherlands    1
1      England    1
2     Pakistan    1

In [261]:
wc_2009_groupB_point_table = pd.DataFrame({"Teams":wc_2009_unique_teamsB, "Matches": len(wc_2009_unique_teamsB)-1})
wc_2009_groupB_point_table

         Teams  Matches
0  Netherlands        2
1      England        2
2     Pakistan        2

In [262]:
wc_2009_groupB_point_table = pd.merge(wc_2009_groupB_point_table, wc_2009_win_countsB, how="left", left_on='Teams', right_on='Teams')
wc_2009_groupB_point_table

         Teams  Matches  Won
0  Netherlands        2    1
1      England        2    1
2     Pakistan        2    1

In [263]:
wc_2009_groupB_point_table['Loss'] = wc_2009_groupB_point_table['Matches'] - wc_2009_groupB_point_table['Won']

In [264]:
wc_2009_groupB_point_table['Point'] = 2*wc_2009_groupB_point_table['Won']
wc_2009_groupB_point_table

         Teams  Matches  Won  Loss  Point
0  Netherlands        2    1     1      2
1      England        2    1     1      2
2     Pakistan        2    1     1      2

In [265]:
nrr = pd.merge(wc_2009_groupB_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2009_groupB_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [266]:
nrr['Teams'] = nrr['Winner Team'].combine_first(nrr['Losing Team'])
nrr.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrr.fillna(0, inplace=True)
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [267]:
nrr

         Teams       NRR
0      England  2.350000
1  Netherlands -3.324277
2     Pakistan  0.974277

In [268]:
wc_2009_groupB_point_table = pd.merge(wc_2009_groupB_point_table, nrr, on='Teams', how='left')
wc_2009_groupB_point_table

         Teams  Matches  Won  Loss  Point       NRR
0  Netherlands        2    1     1      2 -3.324277
1      England        2    1     1      2  2.350000
2     Pakistan        2    1     1      2  0.974277

In [270]:
wc_2009_groupB_point_table = wc_2009_groupB_point_table.sort_values('NRR', ascending=False).reset_index(drop=True)
wc_2009_groupB_point_table

         Teams  Matches  Won  Loss  Point       NRR
0      England        2    1     1      2  2.350000
1     Pakistan        2    1     1      2  0.974277
2  Netherlands        2    1     1      2 -3.324277

Group C

In [271]:
wc_2009_groupC_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
2,3,2009-06-06,Group C,Australia vs West Indies,"Kennington Oval, London",172/3(15.5 overs),169/7(20 overs),West Indies,West Indies won by 7 wickets,Chris Gayle,Australia,West Indies,Australia,172,15.5,169,20.0,2.646774,-2.646774
7,8,2009-08-06,Group C,Australia vs Sri Lanka,"Trent Bridge, Nottingham",160/4(19 overs),159/9(20 overs),Sri Lanka,Sri Lanka won by 6 wickets,Kumar Sangakkara,Australia,Sri Lanka,Australia,160,19.0,159,20.0,0.471053,-0.471053
10,11,2009-10-06,Group C,Sri Lanka vs West Indies,"Trent Bridge, Nottingham",192/5(20 overs),177/5(20 overs),Sri Lanka,Sri Lanka won by 15 runs,Sanath Jayasuriya,Sri Lanka,West Indies,West Indies,192,20.0,177,20.0,0.750000,-0.750000

In [272]:
wc_2009_unique_teamsC = pd.unique(wc_2009_groupC_tabel[['Winner Team','Losing Team']].values.ravel('K'))
wc_2009_unique_teamsC

array(['West Indies', 'Sri Lanka', 'Australia'], dtype=object)

In [273]:
wc_2009_win_countsC = pd.DataFrame(wc_2009_groupC_tabel['Winner Team'].value_counts()).reset_index()
wc_2009_win_countsC = wc_2009_win_countsC.rename(columns={"index":"Teams", "Winner Team": "Won"})
wc_2009_win_countsC

         Teams  Won
0    Sri Lanka    2
1  West Indies    1

In [274]:
wc_2009_groupC_point_table = pd.DataFrame({"Teams":wc_2009_unique_teamsC, "Matches": len(wc_2009_unique_teamsC)-1})
wc_2009_groupC_point_table

         Teams  Matches
0  West Indies        2
1    Sri Lanka        2
2    Australia        2

In [275]:
wc_2009_groupC_point_table = pd.merge(wc_2009_groupC_point_table, wc_2009_win_countsC, how="left", left_on='Teams', right_on='Teams')
wc_2009_groupC_point_table

         Teams  Matches  Won
0  West Indies        2  1.0
1    Sri Lanka        2  2.0
2    Australia        2  NaN

In [276]:
wc_2009_groupC_point_table.fillna(0,inplace=True)
wc_2009_groupC_point_table

         Teams  Matches  Won
0  West Indies        2  1.0
1    Sri Lanka        2  2.0
2    Australia        2  0.0

In [277]:
wc_2009_groupC_point_table['Loss'] = wc_2009_groupC_point_table['Matches'] - wc_2009_groupC_point_table['Won']

In [278]:
wc_2009_groupC_point_table['Point'] = 2*wc_2009_groupC_point_table['Won']
wc_2009_groupC_point_table

         Teams  Matches  Won  Loss  Point
0  West Indies        2  1.0   1.0    2.0
1    Sri Lanka        2  2.0   0.0    4.0
2    Australia        2  0.0   2.0    0.0

In [279]:
nrr = pd.merge(wc_2009_groupC_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2009_groupC_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [280]:
nrr['Teams'] = nrr['Winner Team'].combine_first(nrr['Losing Team'])
nrr.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrr.fillna(0, inplace=True)
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [281]:
nrr

         Teams       NRR
0    Sri Lanka  1.221053
1  West Indies  1.896774
2    Australia -3.117827

In [282]:
wc_2009_groupC_point_table = pd.merge(wc_2009_groupC_point_table, nrr, on='Teams', how='left')
wc_2009_groupC_point_table

         Teams  Matches  Won  Loss  Point       NRR
0  West Indies        2  1.0   1.0    2.0  1.896774
1    Sri Lanka        2  2.0   0.0    4.0  1.221053
2    Australia        2  0.0   2.0    0.0 -3.117827

In [284]:
wc_2009_groupC_point_table = wc_2009_groupC_point_table.sort_values('Point', ascending=False).reset_index(drop=True)
wc_2009_groupC_point_table

         Teams  Matches  Won  Loss  Point       NRR
0    Sri Lanka        2  2.0   0.0    4.0  1.221053
1  West Indies        2  1.0   1.0    2.0  1.896774
2    Australia        2  0.0   2.0    0.0 -3.117827

Group D

In [285]:
wc_2009_groupD_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
1,2,2009-06-06,Group D,New Zealand vs Scotland,"Kennington Oval, London",90/3(6 overs),89/4(7 overs),New Zealand,New Zealand won by 7 wickets,Ian Butler,New Zealand,Scotland,Scotland,90,6.0,89,7.0,2.285714,-2.285714
4,5,2009-07-06,Group D,Scotland vs South Africa,"Kennington Oval, London",211/5(20 overs),81(15.4 overs),South Africa,South Africa won by 130 runs,AB de Villiers,Scotland,South Africa,Scotland,211,20.0,81,15.4,5.290260,-5.290260
9,10,2009-09-06,Group D,New Zealand vs South Africa,"Lord's, London",128/7(20 overs),127/5(20 overs),South Africa,South Africa won by 1 run,Roelof van der Merwe,New Zealand,South Africa,New Zealand,128,20.0,127,20.0,0.050000,-0.050000

In [286]:
wc_2009_unique_teamsD = pd.unique(wc_2009_groupD_tabel[['Winner Team','Losing Team']].values.ravel('K'))
wc_2009_unique_teamsD

array(['New Zealand', 'South Africa', 'Scotland'], dtype=object)

In [287]:
wc_2009_win_countsD = pd.DataFrame(wc_2009_groupD_tabel['Winner Team'].value_counts()).reset_index()
wc_2009_win_countsD = wc_2009_win_countsD.rename(columns={"index":"Teams", "Winner Team": "Won"})
wc_2009_win_countsD

          Teams  Won
0  South Africa    2
1   New Zealand    1

In [288]:
wc_2009_groupD_point_table = pd.DataFrame({"Teams":wc_2009_unique_teamsD, "Matches": len(wc_2009_unique_teamsD)-1})
wc_2009_groupD_point_table

          Teams  Matches
0   New Zealand        2
1  South Africa        2
2      Scotland        2

In [289]:
wc_2009_groupD_point_table = pd.merge(wc_2009_groupD_point_table, wc_2009_win_countsD, how="left", left_on='Teams', right_on='Teams')
wc_2009_groupD_point_table

          Teams  Matches  Won
0   New Zealand        2  1.0
1  South Africa        2  2.0
2      Scotland        2  NaN

In [290]:
wc_2009_groupD_point_table.fillna(0,inplace=True)
wc_2009_groupD_point_table

          Teams  Matches  Won
0   New Zealand        2  1.0
1  South Africa        2  2.0
2      Scotland        2  0.0

In [291]:
wc_2009_groupD_point_table['Loss'] = wc_2009_groupD_point_table['Matches'] - wc_2009_groupD_point_table['Won']

In [292]:
wc_2009_groupD_point_table['Point'] = 2*wc_2009_groupD_point_table['Won']
wc_2009_groupD_point_table

          Teams  Matches  Won  Loss  Point
0   New Zealand        2  1.0   1.0    2.0
1  South Africa        2  2.0   0.0    4.0
2      Scotland        2  0.0   2.0    0.0

In [293]:
nrr = pd.merge(wc_2009_groupD_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2009_groupD_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [294]:
nrr['Teams'] = nrr['Winner Team'].combine_first(nrr['Losing Team'])
nrr.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrr.fillna(0, inplace=True)
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [295]:
nrr

          Teams       NRR
0   New Zealand  2.235714
1  South Africa  5.340260
2      Scotland -7.575974

In [296]:
wc_2009_groupD_point_table = pd.merge(wc_2009_groupD_point_table, nrr, on='Teams', how='left')
wc_2009_groupD_point_table

          Teams  Matches  Won  Loss  Point       NRR
0   New Zealand        2  1.0   1.0    2.0  2.235714
1  South Africa        2  2.0   0.0    4.0  5.340260
2      Scotland        2  0.0   2.0    0.0 -7.575974

In [297]:
wc_2009_groupD_point_table = wc_2009_groupD_point_table.sort_values('Point', ascending=False).reset_index(drop=True)
wc_2009_groupD_point_table

          Teams  Matches  Won  Loss  Point       NRR
0  South Africa        2  2.0   0.0    4.0  5.340260
1   New Zealand        2  1.0   1.0    2.0  2.235714
2      Scotland        2  0.0   2.0    0.0 -7.575974

Group E

In [298]:
wc_2009_groupE_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
13,14,2009-11-06,Group E,England vs South Africa,"Trent Bridge, Nottingham",114/3(18.2 overs),111(19.5 overs),South Africa,South Africa won by 7 wickets,Jacques Kallis,England,South Africa,England,114,18.2,111,19.5,0.571429,-0.571429
15,16,2009-12-06,Group E,India vs West Indies,"Lord's, London",156/3(18.4 overs),153/7(20 overs),West Indies,West Indies won by 7 wickets,Dwayne Bravo,India,West Indies,India,156,18.4,153,20.0,0.828261,-0.828261
16,17,2009-06-13,Group E,South Africa vs West Indies,"Kennington Oval, London",183/7(20 overs),163/9(20 overs),South Africa,South Africa won by 20 runs,Wayne Parnell,South Africa,West Indies,West Indies,183,20.0,163,20.0,1.000000,-1.000000
19,20,2009-06-14,Group E,England vs India,"Lord's, London",153/7(20 overs),150/5(20 overs),England,England won by 3 runs,Ryan Jay Sidebottom,England,India,India,153,20.0,150,20.0,0.150000,-0.150000
21,22,2009-06-15,Group E,England vs West Indies,"Kennington Oval, London",82/5(8.2 overs),161/6(20 overs),West Indies,West Indies won by 5 wickets(D/L method),Ramnaresh Sarwan,England,West Indies,England,82,8.2,161,20.0,1.950000,-1.950000
23,24,2009-06-16,Group E,India vs South Africa,"Trent Bridge, Nottingham",130/5(20 overs),118/8(20 overs),South Africa,South Africa won by 12 runs,AB de Villiers,India,South Africa,India,130,20.0,118,20.0,0.600000,-0.600000

In [303]:
wc_2009_unique_teamsE = pd.unique(wc_2009_groupE_tabel[['Winner Team','Losing Team']].values.ravel('K'))
wc_2009_unique_teamsE

array(['South Africa', 'West Indies', 'England', 'India'], dtype=object)

In [304]:
wc_2009_win_countsE = pd.DataFrame(wc_2009_groupE_tabel['Winner Team'].value_counts()).reset_index()
wc_2009_win_countsE = wc_2009_win_countsE.rename(columns={"index":"Teams", "Winner Team": "Won"})
wc_2009_win_countsE

          Teams  Won
0  South Africa    3
1   West Indies    2
2       England    1

In [307]:
wc_2009_groupE_point_table = pd.DataFrame({"Teams":wc_2009_unique_teamsE, "Matches": len(wc_2009_unique_teamsE)-1})
wc_2009_groupE_point_table

          Teams  Matches
0  South Africa        3
1   West Indies        3
2       England        3
3         India        3

In [308]:
wc_2009_groupE_point_table = pd.merge(wc_2009_groupE_point_table, wc_2009_win_countsE, how="left", left_on='Teams', right_on='Teams')
wc_2009_groupE_point_table

          Teams  Matches  Won
0  South Africa        3  3.0
1   West Indies        3  2.0
2       England        3  1.0
3         India        3  NaN

In [310]:
wc_2009_groupE_point_table.fillna(0,inplace=True)
wc_2009_groupE_point_table

          Teams  Matches  Won
0  South Africa        3  3.0
1   West Indies        3  2.0
2       England        3  1.0
3         India        3  0.0

In [311]:
wc_2009_groupE_point_table['Loss'] = wc_2009_groupE_point_table['Matches'] - wc_2009_groupE_point_table['Won']

In [312]:
wc_2009_groupE_point_table['Point'] = 2*wc_2009_groupE_point_table['Won']
wc_2009_groupE_point_table

          Teams  Matches  Won  Loss  Point
0  South Africa        3  3.0   0.0    6.0
1   West Indies        3  2.0   1.0    4.0
2       England        3  1.0   2.0    2.0
3         India        3  0.0   3.0    0.0

In [313]:
nrr = pd.merge(wc_2009_groupE_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2009_groupE_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [314]:
nrr['Teams'] = nrr['Winner Team'].combine_first(nrr['Losing Team'])
nrr.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrr.fillna(0, inplace=True)
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [315]:
nrr

          Teams       NRR
0       England -2.371429
1  South Africa  2.171429
2   West Indies  1.778261
3         India -1.578261

In [316]:
wc_2009_groupE_point_table = pd.merge(wc_2009_groupE_point_table, nrr, on='Teams', how='left')
wc_2009_groupE_point_table

          Teams  Matches  Won  Loss  Point       NRR
0  South Africa        3  3.0   0.0    6.0  2.171429
1   West Indies        3  2.0   1.0    4.0  1.778261
2       England        3  1.0   2.0    2.0 -2.371429
3         India        3  0.0   3.0    0.0 -1.578261

Group F

In [321]:
wc_2009_groupF_tabel

,Match No,Date,Group/Semi Final/Final,Match Between,Venue,Winning Team Score,Losing Team Score,Winner Team,Result,Player Of The Match,Team1,Team2,Losing Team,Winning Team Runs,Winning Team Over Played,Losing Team Runs,Losing Team Over Played,Winning Team NRR,Losing Team NRR
12,13,2009-11-06,Group F,Ireland vs New Zealand,"Trent Bridge, Nottingham",198/5(20 overs),115(16.4 overs),New Zealand,New Zealand won by 83 runs,Aaron Redmond,Ireland,New Zealand,Ireland,198,20.0,115,16.4,2.887805,-2.887805
14,15,2009-12-06,Group F,Pakistan vs Sri Lanka,"Lord's, London",150/7(20 overs),131/9(20 overs),Sri Lanka,Sri Lanka won by 19 runs,Tillakaratne Dilshan,Pakistan,Sri Lanka,Pakistan,150,20.0,131,20.0,0.950000,-0.950000
17,18,2009-06-13,Group F,New Zealand vs Pakistan,"Kennington Oval, London",100/4(13.1 overs),99(18.3 overs),Pakistan,Pakistan won by 6 wickets,Umar Gul,New Zealand,Pakistan,New Zealand,100,13.1,99,18.3,2.223752,-2.223752
18,19,2009-06-14,Group F,Ireland vs Sri Lanka,"Lord's, London",144/9(20 overs),135/7(20 overs),Sri Lanka,Sri Lanka won by 9 runs,Mahela Jayawardene,Ireland,Sri Lanka,Ireland,144,20.0,135,20.0,0.450000,-0.450000
20,21,2009-06-15,Group F,Ireland vs Pakistan,"Kennington Oval, London",159/5(20 overs),120/9(20 overs),Pakistan,Pakistan won by 39 runs,Kamran Akmal,Ireland,Pakistan,Ireland,159,20.0,120,20.0,1.950000,-1.950000
22,23,2009-06-16,Group F,New Zealand vs Sri Lanka,"Trent Bridge, Nottingham",158/5(20 overs),110(17 overs),Sri Lanka,Sri Lanka won by 48 runs,Ajantha Mendis,New Zealand,Sri Lanka,New Zealand,158,20.0,110,17.0,1.429412,-1.429412

In [322]:
wc_2009_unique_teamsF = pd.unique(wc_2009_groupF_tabel[['Winner Team','Losing Team']].values.ravel('K'))
wc_2009_unique_teamsF

array(['New Zealand', 'Sri Lanka', 'Pakistan', 'Ireland'], dtype=object)

In [323]:
wc_2009_win_countsF = pd.DataFrame(wc_2009_groupF_tabel['Winner Team'].value_counts()).reset_index()
wc_2009_win_countsF = wc_2009_win_countsF.rename(columns={"index":"Teams", "Winner Team": "Won"})
wc_2009_win_countsF

         Teams  Won
0    Sri Lanka    3
1     Pakistan    2
2  New Zealand    1

In [324]:
wc_2009_groupF_point_table = pd.DataFrame({"Teams":wc_2009_unique_teamsF, "Matches": len(wc_2009_unique_teamsF)-1})
wc_2009_groupF_point_table

         Teams  Matches
0  New Zealand        3
1    Sri Lanka        3
2     Pakistan        3
3      Ireland        3

In [325]:
wc_2009_groupF_point_table = pd.merge(wc_2009_groupF_point_table, wc_2009_win_countsF, how="left", left_on='Teams', right_on='Teams')
wc_2009_groupF_point_table

         Teams  Matches  Won
0  New Zealand        3  1.0
1    Sri Lanka        3  3.0
2     Pakistan        3  2.0
3      Ireland        3  NaN

In [326]:
wc_2009_groupF_point_table.fillna(0,inplace=True)
wc_2009_groupF_point_table

         Teams  Matches  Won
0  New Zealand        3  1.0
1    Sri Lanka        3  3.0
2     Pakistan        3  2.0
3      Ireland        3  0.0

In [327]:
wc_2009_groupF_point_table['Loss'] = wc_2009_groupF_point_table['Matches'] - wc_2009_groupF_point_table['Won']

In [328]:
wc_2009_groupF_point_table['Point'] = 2*wc_2009_groupF_point_table['Won']
wc_2009_groupF_point_table

         Teams  Matches  Won  Loss  Point
0  New Zealand        3  1.0   2.0    2.0
1    Sri Lanka        3  3.0   0.0    6.0
2     Pakistan        3  2.0   1.0    4.0
3      Ireland        3  0.0   3.0    0.0

In [329]:
nrr = pd.merge(wc_2009_groupF_tabel.groupby('Winner Team')['Winning Team NRR'].sum().reset_index(),wc_2009_groupF_tabel.groupby('Losing Team')['Losing Team NRR'].sum().reset_index(), how='outer', left_on='Winner Team', right_on='Losing Team')

In [330]:
nrr['Teams'] = nrr['Winner Team'].combine_first(nrr['Losing Team'])
nrr.drop(columns={'Winner Team', 'Losing Team'}, inplace=True)
nrr.fillna(0, inplace=True)
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr['NRR'] = nrr['Winning Team NRR'] + nrr['Losing Team NRR']
nrr.drop(columns={'Winning Team NRR', 'Losing Team NRR'}, inplace=True)

In [331]:
nrr

         Teams       NRR
0  New Zealand -0.765359
1     Pakistan  3.223752
2    Sri Lanka  2.829412
3      Ireland -5.287805

In [332]:
wc_2009_groupF_point_table = pd.merge(wc_2009_groupF_point_table, nrr, on='Teams', how='left')
wc_2009_groupF_point_table

         Teams  Matches  Won  Loss  Point       NRR
0  New Zealand        3  1.0   2.0    2.0 -0.765359
1    Sri Lanka        3  3.0   0.0    6.0  2.829412
2     Pakistan        3  2.0   1.0    4.0  3.223752
3      Ireland        3  0.0   3.0    0.0 -5.287805

In [333]:
wc_2009_groupF_point_table = wc_2009_groupF_point_table.sort_values('Point', ascending=False).reset_index(drop=True)
wc_2009_groupF_point_table

         Teams  Matches  Won  Loss  Point       NRR
0    Sri Lanka        3  3.0   0.0    6.0  2.829412
1     Pakistan        3  2.0   1.0    4.0  3.223752
2  New Zealand        3  1.0   2.0    2.0 -0.765359
3      Ireland        3  0.0   3.0    0.0 -5.287805